Hotel_CompleteReservationDetailsReply_17_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/HCRDRR_17_1_1A" xmlns="http://xml.amadeus.com/HCRDRR_17_1_1A" elementFormDefault="qualified">
  <xs:element name="Hotel_CompleteReservationDetailsReply">
    <xs:annotation>
      <xs:documentation xml:lang="en">Hotel Complete Reservations Details Response
Hotel Sales Requirements Query response
This message contains all the hotel sales requirement information returned either by the provider/CRS/switch or the database. H for Hotel SLR for Sales Requirements R for Read R for Reply</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="errorInformation" minOccurs="0" type="ErrorGroupType">
          <xs:annotation>
            <xs:documentation xml:lang="en">This group is returned in case of error</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="retrievalKeyGroup">
          <xs:annotation>
            <xs:documentation xml:lang="en">this group regroups the rloc and the tattoo.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="tattooNumber" type="ElementManagementSegmentType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">This segment conveys the element tattoo : - Segment tattoo for an Hotel booking - Offer tattoo for an Hotel Offer</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="retrievalKey" minOccurs="0" type="ReservationControlInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">This segment is used to convey the record locator of the PNR if available.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="hotelSalesRequirementsSection" minOccurs="0" type="HotelReservationPropertiesType">
          <xs:annotation>
            <xs:documentation xml:lang="en">This group is used to convey the information returned on a normal response of the Hotel sales requirements (when no error occured).</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AddressDetailsTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the details of an address.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="format" type="AlphaNumericString_Length1To3" />
      <xs:element name="line1" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Address Text. Any of the following address lines may start with a tag: Street- ExternalNumber- InternalNumber- County- Neighbourhood- State-</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="line2" minOccurs="0" type="AlphaNumericString_Length1To70" />
      <xs:element name="line3" minOccurs="0" type="AlphaNumericString_Length1To70" />
      <xs:element name="line4" minOccurs="0" type="AlphaNumericString_Length1To70" />
      <xs:element name="line5" minOccurs="0" type="AlphaNumericString_Length1To70" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddressTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify an address</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="countryCode" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Country code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="regionDetails" minOccurs="0" type="CountrySubEntityDetailsTypeU_55565C">
        <xs:annotation>
          <xs:documentation xml:lang="en">To convey a sub-entity within a country : region, states..</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddressType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify an address of the guest and Nationality</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="addressDetails" minOccurs="0" type="AddressDetailsTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">will convey the adress text</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="city" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">City name.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="zipCode" minOccurs="0" type="AlphaNumericString_Length1To17">
        <xs:annotation>
          <xs:documentation xml:lang="en">postal identification code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="countryCode" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Country code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nationalityCode" minOccurs="0" type="AlphaNumericString_Length2To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Data element holds the traveller nationality in ISO Country Code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="regionDetails" minOccurs="0" type="CountrySubEntityDetailsTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">To convey a sub-entity within a country : region, states..</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="locationDetails" minOccurs="0" type="LocationIdentificationTypeU" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationErrorDetailType">
    <xs:sequence>
      <xs:element name="errorCode" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the data validation error condition.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorCategory" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identification of a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationErrorInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of application error within a message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorDetails" type="ApplicationErrorDetailType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Application error details.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AssociatedChargesInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification of the additional charges that are associated to a product or service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="amount" minOccurs="0" type="NumericDecimal_Length1To18" />
      <xs:element name="description" minOccurs="0" type="AlphaNumericString_Length1To35" />
      <xs:element name="currency" minOccurs="0" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CommissionDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the commission conditions, amount, currency, party paying and any related free text.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Commission type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="amount" minOccurs="0" type="NumericDecimal_Length1To11">
        <xs:annotation>
          <xs:documentation xml:lang="en">Commission amount</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currency" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">ISO currency code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rate" minOccurs="0" type="NumericDecimal_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Commission percentage</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CommissionInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify information about a commission.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="commissionDetails" type="CommissionDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Commission details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is used to convey the non-air company information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="travelSector" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to qualify the company code, to identify the industry business it belongs.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="companyCodeContext" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to convey the context in which the code applies. The hotel chain code are managed by Amadeus.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="companyCode" type="AlphaNumericString_Length2To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to convey the company code of a non-air company</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="companyName" type="AlphaNumericString_Length1To20">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to convey the company name of a non-air company</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="accessLevel" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to convey the type of access the non-air company has with Amadeus.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConversionRateDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the conversion rate and the monetary amount.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="conversionType" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This field is used to convey the conversion type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currency" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This composite is used to convey the currency of the converted amount</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="convertedValueAmount" type="NumericDecimal_Length1To11" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConversionRateTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details of a conversion rate related to an amount.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="conversionRateDetails" type="ConversionRateDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">This composite is used to convey the details about the conversion.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CountrySubEntityDetailsTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a part of a country (eg county or part of              a city).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" minOccurs="0" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">State or province name (eg. Texas).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CountrySubEntityDetailsTypeU_55565C">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a part of a country (eg county or part of              a city).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" type="AlphaNumericString_Length2To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">State code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="qualifier" type="AlphaNumericString_Length1To17">
        <xs:annotation>
          <xs:documentation xml:lang="en">84 for state code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateAndTimeDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide date and time details relative to flight movements.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="qualifier" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code giving specific meaning to a date, time or period.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="date" minOccurs="0" type="Date_YYMMDD" />
      <xs:element name="time" minOccurs="0" type="Time24_HHMM" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateAndTimeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey information regarding estimated or actual dates and times of operational events</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dateAndTimeDetails" minOccurs="0" maxOccurs="400" type="DateAndTimeDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">DATE AND TIME DETAILS</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DummySegmentTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To serve the purpose of a mandatory segment at the beginning of a group and to avoid segment collision.</xs:documentation>
    </xs:annotation>
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ElementManagementSegmentType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the PNR segments/elements references and action to apply</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="status" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Action to perform (When a PNR segment/element is transmitted) .  IF for Information only (Value by default, Code used in a Server response)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="reference" type="ReferencingDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reference details</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="segmentName" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">PNR segment or element name</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorGroupType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Conveys a potential error.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="messageErrorInformation" type="ApplicationErrorInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">This segment is used to convey the type of error as an amadeus Canned message code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorDescription" minOccurs="0" type="FreeTextInformationType_37292S">
        <xs:annotation>
          <xs:documentation xml:lang="en">This segment is used to convey the error description</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FormOfPaymentDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the form of payment type, amounts, approval codes, and other related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length1To10">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of form of payment</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vendorCode" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Credit card vendor code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FormOfPaymentTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey details describing the form of payment.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="formOfPayment" type="FormOfPaymentDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">form of payment: Credit card</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextDetailsType">
    <xs:sequence>
      <xs:element name="textSubjectQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Text qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="informationType" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">This field is used to convey the type of information that can be carried in this segment</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="language" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to convey the language code for the free text</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="source" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to convey the type of source from which the free text was extracted: - M for manual typing - S for extracted from a system (Database...)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="encoding" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to convey the character set. (It should be ASCII 7 bits)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextDetailsType_55580C">
    <xs:sequence>
      <xs:element name="textSubjectQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Text qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="informationType" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">This field is used to convey the type of information that can be carried in this segment</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="source" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to convey the type of source from which the free text was extracted: - M for manual typing - S for extracted from a system (Database...)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="encoding" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to convey the character set. (It should be ASCII 7 bits)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextDetailsType_63635C">
    <xs:sequence>
      <xs:element name="textSubjectQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">subject qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="informationType" minOccurs="0" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">information type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">status</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="companyId" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">company ID.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="language" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">language</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="source" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">source</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="encoding" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">encoding</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is used to convey the free text</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextDetails" type="FreeTextDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">This composite is used to convey all the free text information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="freeText" maxOccurs="99" type="AlphaNumericString_Length1To64">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text and message sequence numbers of the remarks.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextInformationType_203562S">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to convey the free text and associated language, encoding.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextDetails" type="FreeTextDetailsType" />
      <xs:element name="freeText" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text and message sequence numbers of the remarks.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextInformationType_31905S">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is used to convey the free text</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextDetails" type="FreeTextDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">This composite is used to convey all the free text information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="freeText" maxOccurs="15" type="AlphaNumericString_Length1To64">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text and message sequence numbers of the remarks.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextInformationType_31910S">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is used to convey the free text</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextDetails" type="FreeTextDetailsType_55580C">
        <xs:annotation>
          <xs:documentation xml:lang="en">This composite is used to convey all the free text information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="freeText" type="AlphaNumericString_Length1To47">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text and message sequence numbers of the remarks.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextInformationType_31919S">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is used to convey the free text</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextDetails" type="FreeTextDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">This composite is used to convey all the free text information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="freeText" type="AlphaNumericString_Length1To64">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text and message sequence numbers of the remarks.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextInformationType_37292S">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is used to convey the free text</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextDetails" type="FreeTextDetailsType_63635C">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text details</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="freeText" maxOccurs="99" type="AlphaNumericString_Length1To199">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text and message sequence numbers of the remarks.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextInformationType_42414S">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is used to convey the free text</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextDetails" type="FreeTextDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">This composite is used to convey all the free text information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="freeText" maxOccurs="3" type="AlphaNumericString_Length1To64">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text and message sequence numbers of the remarks.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HotelCheckInCheckOutInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is designed to convey the information relative to the check-in ckeck-out information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="expressCheckIn" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This indicator is net to Y when Express check-In is allowed</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="expressCheckOut" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This indicator is net to Y when Express check-out is allowed</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="timeMode" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicate if the time is expressed in local time mode</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="checkInTimeLimitation" minOccurs="0" type="StructuredDateTimeType_55592C">
        <xs:annotation>
          <xs:documentation xml:lang="en">This composite is used to convey the earliest time to perform the check-in.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="checkOutTimeLimitation" minOccurs="0" type="StructuredDateTimeType_55592C">
        <xs:annotation>
          <xs:documentation xml:lang="en">This composite is used to convey the latest time to perform the check-out.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HotelPropertyType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is used to convey the Hotel Property information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="hotelReference" type="HotelUniqueIdType">
        <xs:annotation>
          <xs:documentation xml:lang="en">This composite is used to convey the hotel identifier.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hotelName" minOccurs="0" type="AlphaNumericString_Length1To40">
        <xs:annotation>
          <xs:documentation xml:lang="en">This composite is used to convey the hotel name</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HotelReservationPropertiesType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Created by cperrier 16/01/2004 11:34</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="hotelPropertyInfo" type="HotelPropertyType">
        <xs:annotation>
          <xs:documentation xml:lang="en">This segment is used to convey the hotel property information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="bookingPeriod" type="StructuredPeriodInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">This segment is used to convey the dates of the booking.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hotelChainInformation" type="CompanyInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">This segment is used to convey the hotel chain information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="countryStateInformation" type="AddressTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">This segment is used to convey the country and state codes.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="occupancyLevel" type="NumberOfUnitsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of adults and children requested for a room: from 1 to 9.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="marketingText" minOccurs="0" maxOccurs="2" type="FreeTextInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Up to 2 lines of Marketing Text and Pricing Marketing Text.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="textOptions" minOccurs="0" maxOccurs="2" type="MiscellaneousRemarksType" />
      <xs:element name="hotelSalesRequCategorySection" maxOccurs="7">
        <xs:annotation>
          <xs:documentation xml:lang="en">This group is used to convey each category of the Hotel sales requirements.  There are 7 categories for the Hotel Sales Requirements:  - Rate Information               (RAT) - All known taxes and Total Rate (TTX) - Rate Inclusions and Extras     (INC) - Cancellation Policies          (CXL) - Booking Requirements           (BOO) - Room and Rate Description      (DES) - Other Information              (OTH)</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="pricingCategory" type="ItemDescriptionType">
              <xs:annotation>
                <xs:documentation xml:lang="en">This segment is used to convey the category identifier.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="infoMsgAndCancelPolicies" minOccurs="0" maxOccurs="2" type="FreeTextInformationType">
              <xs:annotation>
                <xs:documentation xml:lang="en">- Information line when the category cannot be returned (1 line) - Cancellation policies free flow text (up to 15 lines), from sell and/or pricing response (in seperated instances) - Other information (up to 99 lines)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="totalAmountInformation" minOccurs="0" type="MonetaryInformationTypeI">
              <xs:annotation>
                <xs:documentation xml:lang="en">This segment is used to convey the estimated total amount returned by the provider.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="rateAmountInformation" minOccurs="0" type="TariffInformationTypeI">
              <xs:annotation>
                <xs:documentation xml:lang="en">This segment is used to convey the rate amount information</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="convertedTotalAmount" minOccurs="0" type="ConversionRateTypeI">
              <xs:annotation>
                <xs:documentation xml:lang="en">This segment is used to convey the estimated total amount returned by the provider and converted by central system.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="textOptions" minOccurs="0" maxOccurs="2" type="MiscellaneousRemarksType" />
            <xs:element name="taxSection" minOccurs="0" maxOccurs="200">
              <xs:annotation>
                <xs:documentation xml:lang="en">This group is used to convey the detail of each tax, service, surcharge belonging to: - 'rate inclusion / extra' category or - 'all knwon taxes' category  The specifications require the possibility to convey up 200 of them.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="taxFeeInformation" type="HotelTaxesServiceChargesFeesType">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">This segment is used to convey the tax, fee, service, surcharge or extra information.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="convertedTaxAmount" minOccurs="0" type="ConversionRateTypeI">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">This segment is used to convey the tax amount converted by central system.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="taxFeeValidity" minOccurs="0" type="StructuredPeriodInformationType">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">This segment is used to convey the dates of validity of the Hotel tax, surcharge, Fee, service information.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="taxFeeDescription" minOccurs="0" type="FreeTextInformationType_31905S">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">This segment is used to convey the Tax, Fee or service description</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="otherInfoSection" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="en">This group is used to convey the other information.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="checkInOutTimeAndExpressInfo" type="HotelCheckInCheckOutInformationType">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">This segment is used to convey structured check-in / check-out information</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="checkDescription" minOccurs="0" maxOccurs="5" type="FreeTextInformationType_31919S">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">This segment is used to convey the check-in / check-out / express check-in / expres check out information (max 1 line per entity) as well as CheckInOutDescription (from sell response).</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="occupantAddress" minOccurs="0" type="AddressType">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Occupant Address tag with place holder for occupant Nationality (coded) and country of residence</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="roomRateInfoSection" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="en">This group is used to convey the room / rate description information</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="roomInformation" type="HotelRoomType">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">This segment is used to convey the room information.  (is used as well in case of Individual Booking)</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="roomRateDescription" minOccurs="0" maxOccurs="3" type="FreeTextInformationType_31905S">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">This segment is used to convey the room description or the rate description (from pricing as well as from sell)</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="bookingRequirementsSection" minOccurs="0" maxOccurs="2">
              <xs:annotation>
                <xs:documentation xml:lang="en">This group is used to convey the booking requirements information, which consists of: - guarantee rule - deposite rule</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="guaranteeDepositStatusInfo" type="StatusTypeI">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">This segment is used to convey the specific indicators such as: - Guarantee required - Deposit required - Pending Payment</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="paymentInformation" minOccurs="0" maxOccurs="9" type="PaymentInformationTypeI">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">This segment is used to convey the form of payment authorized for guarantee or deposit.  Up to 9 are supported (cf codeset).</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="creditCardInformation" minOccurs="0" maxOccurs="20" type="FormOfPaymentTypeI">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">This segment is used to convey the credit card information.  Up to 20 different credit card types are supported.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="formOfPaymentDescription" minOccurs="0" type="FreeTextInformationType_31905S">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">This segment is used to convey the Guarantee or deposit description</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="specialDate" minOccurs="0" type="DateAndTimeInformationType">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Segment to specify a special date: - Deadline for payment</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="rulesSection" minOccurs="0" maxOccurs="5">
              <xs:annotation>
                <xs:documentation xml:lang="en">This group is used to convey the following rules: - Minimum / maximum stay - Advance booking info - Hold time info - Max Occupancy</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="rulesInformation" type="RuleInformationTypeU">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">This segment is used to convey the rules</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="rulesDescription" minOccurs="0" type="FreeTextInformationType_31919S">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">This segment is used to convey the rules description</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="additionalRulesFromSellGroup" minOccurs="0" maxOccurs="3">
              <xs:annotation>
                <xs:documentation xml:lang="en">this group is used to convey additional rules coming from a sell response.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="additionalSellRulesMarker" type="DummySegmentTypeI">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">just a dummy</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="additionalRulesFromSell" type="FreeTextInformationType_42414S">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">these segments are used to convey additional rules, coming from a sell response.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="rateInformationSection" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="en">This group is used to convey the rate information</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ratePlanInformation" type="RatePlanType">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">This segment is used to convey the rate plan information</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="rateAmountInformation" type="TariffInformationTypeI">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">This segment is used to convey the rate amount information</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="convertedMonetaryAmounts" minOccurs="0" maxOccurs="2" type="ConversionRateTypeI">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">This segment is used to convey: - the converted monetary amount - the converted total monetary amount</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="rateStatusInformation" minOccurs="0" maxOccurs="5" type="StatusTypeI_93413S">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">This segment is used to convey the specific indication such as: - commision applicable - More rate change available - On Request booking</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="ratePlanText" minOccurs="0" maxOccurs="2" type="FreeTextInformationType_203562S">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Provide information on the rate plan: -HRCP: Hotel Provider Rate Code Translated from Agent Rate code -HRCT: Hotel Amadeus Rate Code Translated from Agent Rate code</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="commissionSection" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">This group is used to convey the information regarding the commission</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="commissionInfo" type="CommissionInformationType">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">This segment is used to convey the commission information</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="commissionConvertedAmnt" minOccurs="0" type="ConversionRateTypeI">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">This segment is used to convey the converted commission amount</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="commissionDescription" minOccurs="0" maxOccurs="2" type="FreeTextInformationType_31905S">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">This segment is used to convey the commission description (from sell response and pricing response)</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="rateChangeSection" minOccurs="0" maxOccurs="30">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">This group is used to convey the rate change details  Up to 30 rate changes during a stay should be supported.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="rateChangeAmountInformation" type="MonetaryInformationTypeI">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">This segment is used to convey the amount when a rate change occurs</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="chgOfRateConvertedAmnt" minOccurs="0" type="ConversionRateTypeI">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">This segment is used to convey the converted amount applying during a rate period</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="rateChangePeriodInformation" minOccurs="0" type="StructuredPeriodInformationType">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">This segment is used to convey the period when a rate change occurs</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="rateChangeText" minOccurs="0" type="FreeTextInformationType_31910S">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">This segment is used to convey a comment when a rate change occurs</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="cancellationPoliciesSection" minOccurs="0" maxOccurs="99">
              <xs:annotation>
                <xs:documentation xml:lang="en">This group is used to convey the cancellation policies  Up to 99 of them should be supported</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="cancellationDateTime" type="StructuredDateTimeInformationType">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">This segment is used to convey the latest date/time to cancel without any cancellation fee.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="cancellationFee" minOccurs="0" type="MonetaryInformationTypeI">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">This segment is used to convey the amount of the cancellation fee.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="cancelConvertedFees" minOccurs="0" type="ConversionRateTypeI">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">This segment is used to convey the converted cancellation fee.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="cancellationNights" minOccurs="0" type="QuantityTypeI">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">This segment is used to indicate the number of nights that will be charged in case of late cancellation</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HotelRoomRateInformationType">
    <xs:sequence>
      <xs:element name="roomType" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to convey the room type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ratePlanCode" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to convey the hotel rate code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rateCategoryCode" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to convey the hotel rate family code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rateQualifiedIndic" minOccurs="0" maxOccurs="2" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data elements contains rate family indicators: first one is rate type and second indicates if rate is converted on Amadeus side</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HotelRoomType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is used to convey the hotel room information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="roomRateIdentifier" minOccurs="0" type="HotelRoomRateInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">This composite is used to convey the room rate identifier.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="bookingCode" minOccurs="0" type="AlphaNumericString_Length1To10">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to convey the booking code.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HotelTaxesServiceChargesFeesType">
    <xs:annotation>
      <xs:documentation xml:lang="en">hotel taxes, service charges and fees</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="includedInAmount" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to idicate if the Tax or fee is included in the base amount</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="perPerson" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This tag indicate if the tax or fee is per person or not</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="timeUnit" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to know if the tax or fee applies per stay, per period or per night.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="category" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to convey the category of the tax,fee...</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="code" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Predefined name of the Tax or Fee</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="amount" minOccurs="0" type="NumericDecimal_Length1To11">
        <xs:annotation>
          <xs:documentation xml:lang="en">amount</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currencyCode" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">ISO Currency code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="percentage" minOccurs="0" type="NumericDecimal_Length1To8">
        <xs:annotation>
          <xs:documentation xml:lang="en">percentage</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="longName" minOccurs="0" type="AlphaNumericString_Length1To30">
        <xs:annotation>
          <xs:documentation xml:lang="en">Long name of the Tax or Fee</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="longNameDetails" minOccurs="0" type="FreeTextDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">This composite is used to convey the information relative to the long name of the tax</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HotelUniqueIdType">
    <xs:sequence>
      <xs:element name="chainCode" type="AlphaNumericString_Length2To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">To convey the chain code in the property ID</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cityCode" type="AlphaNumericString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">To convey the city code in the hotel Id</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hotelCode" type="AlphaNumericString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">To convey the property code in the Hotel Id</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemDescriptionDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Description of an item.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="description" type="AlphaNumericString_Length1To40">
        <xs:annotation>
          <xs:documentation xml:lang="en">Item description</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="language" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">language of the description</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemDescriptionType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To describe an item in either an industry or free format.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="itemDescriptionType" type="AlphaNumericString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Item description type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="itemDescription" type="ItemDescriptionDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Description of the item</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocationIdentificationTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification of a location by code or name. Identification of a location by code or name. Identification of a location by code or name. Identification of a location by code or name</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" minOccurs="0" type="AlphaNumericString_Length1To256">
        <xs:annotation>
          <xs:documentation xml:lang="en">County or region name (eg. Fairfax).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MiscellaneousRemarkType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Miscellaneous remarks</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length1To10">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to convey the type of the remark. (see data mapping to view the codes)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="freetext" type="AlphaNumericString_Length1To256">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text and message sequence numbers of the remarks.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="businessFunction" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to convey the business function</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="language" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">language used for the free text.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="source" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicates if it has been manually entered by an agent or system generated.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="encoding" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Coded identification of the character encoding used in the interchange</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MiscellaneousRemarksType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify miscellaneous, confidential, quality control and invoice remarks, as well as departure comments, applicable to Acceptance, Boarding, Baggage....</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="remarkDetails" type="MiscellaneousRemarkType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Miscellaneous remarks</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type of monetary amount, the amount, and the currency code.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="typeQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">To indicate the type of the amount conveyed</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="amount" type="NumericDecimal_Length1To11">
        <xs:annotation>
          <xs:documentation xml:lang="en">amount</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currency" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">ISO currency code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey monetary amounts, rates and percentages.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="monetaryDetails" type="MonetaryInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">This composite is used to convey the rate change amount details.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NumberOfUnitDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification of number of units and its purpose.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="numberOfUnit" type="NumericInteger_Length1To15" />
      <xs:element name="unitQualifier" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NumberOfUnitsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the number of units required</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="quantityDetails" maxOccurs="2" type="NumberOfUnitDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of Unit Details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the method, type, amount, currency and due date of payment.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="formOfPaymentCode" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">To convey the guarantee /deposit form</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="paymentType" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to idicates if it is a guarantee or a deposit</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceToPay" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to identify the type of service to be paid, in our case it will always be 3 for hotel</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify information concerning the payment.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="paymentDetails" type="PaymentDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">This composite is used to convey the payment information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuantityDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Quantity information in a transaction, qualified when relevant.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="qualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">CAN for cancellation fee</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="value" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of nights to be charged in case of cancellation</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="unit" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">The quantity is expressed in days.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuantityTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a pertinent quantity.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="quantityDetails" type="QuantityDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">This composite is ude to convey the quantity details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RatePlanType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey the information of the rate plan</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ratePlanCode" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to convey the hotel rate code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ratePlanId" minOccurs="0" type="AlphaNumericString_Length1To64">
        <xs:annotation>
          <xs:documentation xml:lang="en">to convey the rate plan Identification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ratePlanIdDetails" minOccurs="0" type="FreeTextDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">This composite is used to convey the information relative to the rate plan Identification</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Tatooo</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="qualifier" type="AlphaNumericString_Length1To10">
        <xs:annotation>
          <xs:documentation xml:lang="en">Amadeus codes :  OF for Offer element(non name, non segment) Tatoo  In this message we only expect OF since this message targets Offers</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="number" type="NumericInteger_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number attributed by the Server to reference the PNR segment/element Limited to the time the PNR is worked (First retrieve - End of Transaction)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the information required to identify a reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="companyId" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to convey the company which owns the booking: - 1A</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="controlNumber" type="AlphaNumericString_Length1To16">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to convey the reservation number (record locator of a PNR, confirmation number...)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="controlType" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to indicate the type on reservation control number conveyed in this segment: - P for PNR record Locator - 2 for a confirmation number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a reference to a reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reservation" minOccurs="0" type="ReservationControlInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">This composite is used to convey the reservation control information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RuleDetailsTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To indicate the coded rule, a number and it's              relation to the rule, a start day of service, a              monetary amount associated to the rule, and              additional information associated with the rule</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to identify the type of rule (see data mapping).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="quantity" minOccurs="0" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to convey the rule quantity, express in the unit defined in the data element 6353</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="quantityUnit" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to specify the unit used to express the quantity.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RuleInformationTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify rule information and rule status.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ruleDetails" type="RuleDetailsTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">This composite is used to convey the rules details.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a status, the action to be taken, and an additional qualification of the status.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indicator" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Status qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="action" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Status value</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify a status and related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="statusDetails" minOccurs="0" type="StatusDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">This composite is used to convey the rate  status details.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusTypeI_93413S">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify a status and related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="statusDetails" type="StatusDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">This composite is used to convey the rate  status details.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is designed to convey date/time in a structured way.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="businessSemantic" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element can be used to provide the semantic of the information provided. Examples : - Impacted period - Departure date - Estimated arrival date and time</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="timeMode" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicate if the time is expressed in UTC or in local time mode ( Codes U and L ). In the last case, the time zone information can be provided in the composite C89K.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dateTime" type="StructuredDateTimeType_55583C">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey date and/or time.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Store date and time in a structured way</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="year" type="NumericInteger_Length4To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Year number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="month" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Month number in the year ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="day" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Day number in the month ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeType_55583C">
    <xs:annotation>
      <xs:documentation xml:lang="en">Store date and time in a structured way</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="year" minOccurs="0" type="NumericInteger_Length4To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Year number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="month" minOccurs="0" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Month number in the year ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="day" minOccurs="0" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Day number in the month ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hour" minOccurs="0" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Hour between 0 and 23</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="minutes" minOccurs="0" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Minutes between 0 and 59</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeType_55592C">
    <xs:annotation>
      <xs:documentation xml:lang="en">Store date and time in a structured way</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="hour" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Hour between 0 and 23</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="minutes" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Minutes between 0 and 59</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredPeriodInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is designed to convey period in a structured way.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="businessSemantic" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element can be used to provide the semantic of the information provided.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="beginDateTime" type="StructuredDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey the begin date/time of a period.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="endDateTime" type="StructuredDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey the end date/time of a period.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TariffInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the rates or tariff details.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="amount" type="NumericDecimal_Length1To11">
        <xs:annotation>
          <xs:documentation xml:lang="en">This field is used to convey the amount that will be found in the booking after.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currency" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This field is used to convey the currency</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ratePlanIndicator" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to convey the rate plan (Daily or total indicator) which apllies to the monetary amount.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rateChangeIndicator" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to specify the fact that a rate change occurs during the period of the stay. If the is a change the value is * .</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalAmount" minOccurs="0" type="NumericDecimal_Length1To11">
        <xs:annotation>
          <xs:documentation xml:lang="en">This field is used to convey the total amount</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TariffInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify tariff details relating to a service or product.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tariffInfo" type="TariffInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">This composite is used to convey the tariff information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="chargeDetails" minOccurs="0" maxOccurs="99" type="AssociatedChargesInformationTypeI" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To199">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..199</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="199" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To40">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..40</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="40" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length2To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an2..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To20">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..20</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To64">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..64</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="64" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length3To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericDecimal_Length1To11">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..11</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal" />
  </xs:simpleType>
  <xs:simpleType name="NumericDecimal_Length1To8">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..8</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To30">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..30</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To17">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..17</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="17" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To47">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..47</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="47" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,35}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To16">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..16</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="16" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length4To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{4,4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length2To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To15">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..15</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,15}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To256">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..256</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="256" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericDecimal_Length1To18">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..18</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To70">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericDecimal_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal" />
  </xs:simpleType>
  <xs:simpleType name="Date_YYMMDD">
    <xs:annotation>
      <xs:documentation xml:lang="en">Date format: YYMMDD</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{2}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Time24_HHMM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Time format: 24H. All digits are mandatory . Example: from 0000 to 2359</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-1][0-9]|2[0-3])[0-5][0-9]" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.1.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FDB300CBDEB5708BDEC30C4718A61C102E8E036493BA0690B27BD0508548B4984CA9227CA45BDA2FF7D94ECACDD691B60182425F1E3BDC7ABC5EDA22C368BF9EEEE569CE793E928FF32CAA77CE9B5921DCFBFCDF2297DFC6AB5F99CE7B33C67C5AA085D03B8D406ACAC415060772151579B18CE5E50B14789704B67D8C80AC4318466361EBFD42693B554D06256B97ACC1E5BAB0CCCB517638410B43DE058E90A597584EA694DFF5A8AE05B6095534057505867A357D760C91BCEEA46DA2E9613B63586024DE7F5E118C459D197E3F7DE355E4390BEE3D22A7EE9EC5E2BCAA1A5E1DFEDDEF95A06EDEC8CB756B6E1E8BCFE098AB708E9BAD2581987AD078EC1EB2A988ED39B47AD2847C609B69C8FF8A9186632C3E81BC3CBD807F292BAF7CFA0B233A6602F5B13AE7C13E152622F0D0253AE7D34B0861F2DD80AEE65A88EC309D88B7F0213ECFB9DD748D0DBEEF5193CD2546479304069C89207AAD0BDB13DD157B686307391C9E4273AD3E368FD258171953403E4C61D14D1389F6DAF17C57C0B4AEF6515827306B78BCD6EAE31481B2E8929E28F98DBAEA47F82C8F826DDC1C4356E6FDC8172D9436A44AB3B6B3A56833FC00046B2971A8CC2B5F3E1377C3438525F05464CFF8CCD89756D06E5D8FF82A871DA865B083D1D496CDEB9F001A1E4470167AC1F21228A718FF2713E1962B874BE309A720F8A8D5AD015E09C9444B549943D8A584B1F62DE07AB2B1DBA6190E0A54593F449F808C21AC743E64DB11ABF2A309AC69024A0B78C4E596C4F7D5C1F12CBE56967FA9C144950A54DD6B6622F68C25D1B9A362C9D51E0450C30361AAD7A183F21D7EF7B321AB11E243129D887FAA2B82F76D72E80D94DA6E7A4EA5A6A2BD6372583978608DB49DCCD175762533E2C4E0471E9418AC9F4EB2920AEE94159B2865642E39148EEA1EFF91113B29E75248DCC848D4C308ABE6E14998100FDCAA56E0709B0136DFDCD35A9174BDA38ED2141432F489E04CEA009EA89FD02CBC8DB671F050000
-->

