MiniRule_GetFromRec_18_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TMRXRQ_18_1_1A" xmlns="http://xml.amadeus.com/TMRXRQ_18_1_1A" elementFormDefault="qualified">
  <xs:element name="MiniRule_GetFromRec">
    <xs:annotation>
      <xs:documentation xml:lang="en">Retrieve Mini Rules associated to a Record</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="miniRulesQueryOption" minOccurs="0" type="AttributeType" />
        <xs:element name="language" minOccurs="0" type="LanguageBatchTypeU" />
        <xs:element name="groupRecords" maxOccurs="99">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="recordID" type="ItemReferencesAndVersionsType" />
              <xs:element name="filteringSelection" minOccurs="0" type="ReferenceInfoType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AttributeInformationTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of attribute and the attribute</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeType" type="AlphaNumericString_Length1To25" />
      <xs:element name="attributeDescription" minOccurs="0" type="AlphaNumericString_Length1To256" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to have tag value without code list for tag</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="criteriaSetType" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Determines if the set of criteria corresponds to the message identification criteria or to normal criteria.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="criteriaDetails" maxOccurs="99" type="AttributeInformationTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details for the message criteria (name, value).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemReferencesAndVersionsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Exchange and link unique identifiers</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceType" type="AlphaNumericString_Length1To3" />
      <xs:element name="uniqueReference" type="AlphaNumericString_Length1To99" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LanguageBatchTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a language.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="languageQualifier" type="AlphaNumericString_Length1To3" />
      <xs:element name="languageDetails" minOccurs="0" type="LanguageDetailsBatchTypeU" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LanguageDetailsBatchTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify a language.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="languageCode" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="languageName" minOccurs="0" type="AlphaNumericString_Length1To35" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide specific Hotel reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceDetails" maxOccurs="99" type="ReferencingDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length1To10" />
      <xs:element name="value" type="AlphaNumericString_Length1To60" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To99">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..99</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="99" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To25">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To256">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..256</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="256" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To60">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..60</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.1.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095934D6FDB381086EFFC15442F7B585896B2BB806B800735FE408175922A2AD083018321C736518A543954106D90FFDEA124B72950A0DD8B301C5233E4F3BEB35DDFACABB25EAF0EB737E22A2F16B3FCEDAC58F0BA03D4B2E745B1FC3B5FFEB5E0DB5DFD679E2FF39C95BB32F62DE0C65870B2014189C33B8946D5299D3DA1660F12E186F6B0950AC439C676399F3F3536938DD4D061A67C33670F9DD31656268839428CC69D70AE8D42A6CEA03EDFD3B79122860E98F21AE8080AE75D5A350D385A4D7B4D2B5D9FDA09D7594B89B60FE6748EE24D39B6E377C1B7C14094A1E7D2697EEDDDD168AA61A4E5EFDDD1874646E3DD92774E76F1EC83F90F34EF1086E3DAA0B21EBB001C63302ADA9ED33F0F46538D8C13B79CCFF8A5196632C3B4B69657E91EC82BBA7D78049DBD611A8EB2B3711BDA844B8BA3B4084CFBEEC1C23D7CE9C029B893519DA71D70EF7E0B26B8EF679E93402F87E7470848AFA22880052A43913C5187FE851D49BEAAB3C4CC272587F520E7F0738A7E51C07A25ED84DCFA93261957CBFD19A4DE833647A962F4DEE27E5D1F5606A374F19A9422FD48B9FD4E86CF9014AF873338688DFB7FFD896AB9D37011A36F9DED5903E104138C21DE18B01AEF7D88DFF0D1C391EE556262FA636E45AA1B3B39C7FD2F44AD372EDE401CE518CC16BC8FAF080DEB64E08C8D4F4844310D523ECF8B29871B1F4A6BA8F6E4D8E405A30057E424EA4DA61C296223434C753F3AA34CECA787C4201DDAC19FC447106B9C4F95EB72377FD6600D3D4392815E32DA65E97AFAF5F89059AE2F3333D6A4CC806A9864E3147B421B6FBBD87671E3AD86205282B1D96C3762FC03B9F93E27B3191B2189A264AFFA8BF2AE3CEC8C3389C3A158FC43C66EA471E2AE5A33786A49B383C4C36ABD1575F5717DD188CB00525C5DE59784A877D5A7EA036B692A0C9E49E791FE289128287A3449370A073C722029BEB5DE42DC04DF54A0D845AC9F6E4EF28B62C1BE0241864F9E0B050000
-->

