PNR_Cancel_17_2_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/PNRXCL_17_2_1A" xmlns="http://xml.amadeus.com/PNRXCL_17_2_1A" elementFormDefault="qualified">
  <xs:element name="PNR_Cancel">
    <xs:annotation>
      <xs:documentation xml:lang="en">PNR CANCEL
PNR CANCEL
pnr cancel</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="reservationInfo" minOccurs="0" type="ReservationControlInformationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">reservation control informations</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="pnrActions" type="OptionalPNRActionsType">
          <xs:annotation>
            <xs:documentation xml:lang="en">specific actions to be processed on PNR</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="cancelElements" minOccurs="0" maxOccurs="4" type="CancelPNRElementType">
          <xs:annotation>
            <xs:documentation xml:lang="en">CANCEL PNR ELEMENT</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CancelPNRElementType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To cancel a PNR element</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="entryType" type="AMA_EDICodesetType_Length1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Cancel type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="element" minOccurs="0" maxOccurs="999" type="ElementIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Element data</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ElementIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">ELEMENT DATA</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="identifier" minOccurs="0" type="AMA_EDICodesetType_Length1to3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Element qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="number" minOccurs="0" type="NumericInteger_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">element number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="subElement" minOccurs="0" type="NumericInteger_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">sub element number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OptionalPNRActionsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify specific Actions to be processed on PNR.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="optionCode" maxOccurs="40" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Processing options. Only the option 0, 10, 11 and 20 are supported.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">RESERVATION CONTROL INFORMATION</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="controlNumber" type="AlphaNumericString_Length1To20">
        <xs:annotation>
          <xs:documentation xml:lang="en">profile or PNR record locator</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Reservation control information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reservation" type="ReservationControlInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">record information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="NumericInteger_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To20">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..20</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,5}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AMA_EDICodesetType_Length1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for codes in the AMADEUS code tables. Code Length is one alphanumeric character.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AMA_EDICodesetType_Length1to3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for codes in the AMADEUS code tables. Code Length is three alphanumeric characters.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.1.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FDB3810BDF35710BDECA1B02CA7DB1635C083623BD9056AC7705CA00703C2441CDB442952CBA182A841FEFB0E25799B9EDABD0833C3D17CBCF7E676B559ED8AFD6A59DE6DD4553EFB3899CD26F907B9F64E4327F34FF3F79FE6EF3EC8DBF5FE6D9ECFF35C14EB22760DD28DB1E8A046C581F21AC854FB14CE9E488B0720DCF01B3550A13AC7D8CCA7D3A7DA665083C696B2CAD753F1D03A6D7169829A12C668DC89A6DA5424AA3356DFEEF95B838AA14551798D9C42CA7997BCBA46C7DEF85637E0BAD44EB9D65A0E345D30A773546F8AA19DDC06DF0483114227C169B9F0EE6834D73060E5DFEEE8430DD1783797AD83369E7D30DF51CB96B04FD7862AEBA90D2829065345DB49FEE7C168AE9149862D97137969461964947C6BE52ECD4172C7D38747D4D91BA1F108AD8DB7A149706975044B28B46F1F2CDEE33F2DBA0AB710ABF3F882EEFAB7C044F723E73911F4523E3F6220DE8AAD8016B90C5B70E20EDD8B38327DBBD632663E31D9FB3D9DFDCFC9FA4501EB2BB023E4D69F34D3B89C1FFE5A15CB036A73842A46EF2D1D56FB726928828B0B668AF963E60E6B08DF3031BEEF73A8E79A0E9FFD896BB9533F88D177CE76A2C670C2118CDEBE316835DDFB10FF838F17279EABA084E9CFB125B36EECA81CF7BF206ABC71718371A0A3175BF03EBE42A8F793803331AC9010A57447F9349F8D31BAF1A1B0866B8F8A4D5A3015D29295C4BD5994038A544388A9EE17672A13BB719118C091EDF5C9F828C69AA663E57DB19E3E6BB486D70016D04BC6AF228DA75F9F0F8B6571B999A126477AA8FA4B36AE124F64E35D1B9B36DE78AB31A814106232590F30FE41D2FCB893C9440C20A959215EF557C5B628B79B5D39FBF81E58D43518A7B69B99C0A786F92A81CAE5EA56ED775F56177E24040435FBF3E273FAEEEBE2B368F8200C9D99E201F8811D75C5D6A34994B1D923033D88E9B772017C3C565CE8515B17C6D04873EAF32F0790A8D2F2040000
-->

