PNR_Cancel_21_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/PNRXCL_21_1_1A" xmlns="http://xml.amadeus.com/PNRXCL_21_1_1A" elementFormDefault="qualified">
  <xs:element name="PNR_Cancel">
    <xs:annotation>
      <xs:documentation xml:lang="en">PNR CANCEL
PNR CANCEL
pnr cancel</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="reservationInfo" minOccurs="0" type="ReservationControlInformationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">reservation control informations</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="pnrActions" type="OptionalPNRActionsType">
          <xs:annotation>
            <xs:documentation xml:lang="en">specific actions to be processed on PNR</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="cancelElements" minOccurs="0" maxOccurs="4" type="CancelPNRElementType">
          <xs:annotation>
            <xs:documentation xml:lang="en">CANCEL PNR ELEMENT</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CancelPNRElementType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To cancel a PNR element</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="entryType" type="AMA_EDICodesetType_Length1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Cancel type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="element" minOccurs="0" maxOccurs="999" type="ElementIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Element data</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ElementIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">ELEMENT DATA</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="identifier" minOccurs="0" type="AMA_EDICodesetType_Length1to3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Element qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="number" minOccurs="0" type="NumericInteger_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">element number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="subElement" minOccurs="0" type="NumericInteger_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">sub element number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OptionalPNRActionsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify specific Actions to be processed on PNR.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="optionCode" maxOccurs="40" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Processing options. Only the option 0, 10, 11 and 20 are supported.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">RESERVATION CONTROL INFORMATION</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="controlNumber" type="AlphaNumericString_Length1To20">
        <xs:annotation>
          <xs:documentation xml:lang="en">profile or PNR record locator</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Reservation control information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reservation" type="ReservationControlInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">record information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="NumericInteger_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To20">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..20</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,5}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AMA_EDICodesetType_Length1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for codes in the AMADEUS code tables. Code Length is one alphanumeric character.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AMA_EDICodesetType_Length1to3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for codes in the AMADEUS code tables. Code Length is three alphanumeric characters.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.1.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FDB300CBDEB5708BDEC30C4B1B30DDB02E8E026693760498334057608602816930895254F948B7A45FFFB28DB59BBD3B68B4152343FDE7BBC5EAC169B7CBB9817372B314927D9289D8CD2CF7CDB002AD9F22C9D7EF8347DF7915F2FB76FD3749AA62C5FE6A1AD01AFB4012B2B1014282E25EA721BC3C9232AB697082B7AC35A96204E21D4D3F1F8B13289ACA4820693D25563B66FAC3230D75E8C1142D0F68863A54B64E509CAFB5BFA565204DF002B9D024A41619D8D5E5581256F78AB6A69DBD84ED8C6180AD4ADD7C753101779DF8EAFBDABBD86207DCBA5557CE6EC412BAAA1A5E15FEDC1F94A06EDEC94375636E1E4BCFE098A37085DBAD2581A878D078EC1EB329896D33F7BADA846C2276996F2113F37C34426187D63F826CE817C43D3FB0750C9055370908D09D7BE8E70297190068129D7EC0DDCC28F066C096B19CAD3F002F6F29FC004FB92F314097A2E9E1EC0236D4596070354862C79A40EED333B107D9BC610662E32D9F91D9DDDCFD1FA4B01E34A6906C88D3B2AA27136DD7D59E4F3DD42E9832CC3D63983BBC5B6986B0CD286193145FC1173BBA5F4F71019EF73B0E31A77DFDC916AD96337885637D6B4AC027F84018CCEBED26014DE3A1F7EC3478B23CD9563C4F4CFD89C58D766508EFD2F886AA76D5841E8E9E8C4E69D0BAF10EAFC28E084F52B44445144418CD36C88E195F3B9D1547B506CD4822E01E7A424EA4DA2EC51C44AFA10EBDE595DEAD00E8B042F2D9A4E9F848F20AC713C54DEE6CBF19302A3690D49027A4EE895C5F1D4EBF321B1CCCE37D3D7A448075577C9DA96EC114DB86942DD842B67147811038C8D46CB1EC637C8F5CB9D8C46AC074964397BD55FE4EBBC58AF36C524CB48D395D456AC571983C79AE82A2416F3C5B5D86EEE16677AB8F42045F6FEEC53FAE6FBEC1BABE91E349E88E11EF79E1C3121EB4147C644D603233B0CE36FC54CD2ED18766647ACAD1F4203CBB1CF2F346B840EF2040000
-->

