PNR_Retrieve_21_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/PNRRET_21_1_1A" xmlns="http://xml.amadeus.com/PNRRET_21_1_1A" elementFormDefault="qualified">
  <xs:element name="PNR_Retrieve">
    <xs:annotation>
      <xs:documentation xml:lang="en">PNR Retrieval Message
PNR Retrieval Message
This message allows to retrieve a PNR by specifying some criteria.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="settings" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Informations on the PNR options requested and the printer identification</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="options" type="OptionalPNRActionsType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Optional information on what needs to be returned in the PNR , not used anymore.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="printer" minOccurs="0" type="PrinterIdentificationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Identification of the printer when hardcopy is requested</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="retrievalFacts">
          <xs:annotation>
            <xs:documentation xml:lang="en">Set of informations needed for the retreival of the PNR</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="retrieve" type="RetrievePNRType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">retrieval type , options , and references related to the PNR content .</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="reservationOrProfileIdentifier" minOccurs="0" type="ReservationControlInformationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Informations needed for retreive by record locator or retreive by customer profile.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="personalFacts" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="en">informations related to the travellers</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="travellerInformation" type="TravellerInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Informations needed for retreive by office and name or retreive by service and name .</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="productInformation" minOccurs="0" type="TravelProductInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Informations on the travel product</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="ticket" minOccurs="0" type="TicketNumberType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Ticket number that can be used  optionally when retreive by record locator is done .</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="frequentFlyer" minOccurs="0" type="FrequentTravellerIdentificationCodeType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Informations needed for a retreive by frequent flyer .</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="accounting" minOccurs="0" type="AccountingInformationElementType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Informations needed for a retreive by account number</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AccountingElementType">
    <xs:annotation>
      <xs:documentation xml:lang="en">ACCOUNTING ELEMENT</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" type="AlphaNumericString_Length1To30">
        <xs:annotation>
          <xs:documentation xml:lang="en">account number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountingInformationElementType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Accounting information element</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="account" type="AccountingElementType">
        <xs:annotation>
          <xs:documentation xml:lang="en">accounting element needed when retreive by account number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">COMPANY IDENTIFICATION</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Airline/ provider code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FrequentTravellerIdentificationCodeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Frequent traveller information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="frequentTraveller" type="FrequentTravellerIdentificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">frequent traveler identification needed when retreive by frequent traveller</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FrequentTravellerIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">FREQUENT TRAVELLER IDENTIFICATION</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="companyId" type="AlphaNumericString_Length2To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">airline code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="membershipNumber" type="AlphaNumericString_Length1To27">
        <xs:annotation>
          <xs:documentation xml:lang="en">frequent traveller reference number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">LOCATION</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cityCode" type="AlphaString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Board point or off point</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OptionalPNRActionsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">PNR options</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="optionCode" maxOccurs="40" type="NumericInteger_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PrinterIdentificationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Printer identification</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="AlphaNumericString_Length5To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">name of the printer</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="network" minOccurs="0" type="AlphaNumericString_Length2To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">network id of the printer</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PrinterIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Printer identification</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="identifierDetail" minOccurs="0" type="PrinterIdentificationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">printer identification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="office" minOccurs="0" type="AlphaNumericString_Length9To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">amadeus office id</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="teletypeAddress" minOccurs="0" type="AlphaNumericString_Length7To7">
        <xs:annotation>
          <xs:documentation xml:lang="en">IATA teletype address</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductDateTimeTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">PRODUCT DATE OR TIME</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="depDate" type="Date_DDMMYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Departure/ pick-up/ check-in date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="depTime" minOccurs="0" type="Time24_HHMM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Only for retrieve by flight/departure time, needed.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="arrDate" minOccurs="0" type="Date_DDMMYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Return/ drop-off/ check-out date</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductIdentificationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">PRODUCT IDENTIFICATION DETAILS</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="identification" type="NumericInteger_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="classOfService" minOccurs="0" type="AlphaString_Length2To2" />
      <xs:element name="subtype" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight number alpha suffix</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the information required to identify a reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="companyId" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">for the PNR record locator: 1A for the reservation number: provider code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="controlNumber" type="AlphaNumericString_Length1To20">
        <xs:annotation>
          <xs:documentation xml:lang="en">this is the place to store the identifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="controlType" minOccurs="0" type="AMA_EDICodesetType_Length1">
        <xs:annotation>
          <xs:documentation xml:lang="en">if "N" is filled, it indicates that the number is a reservation number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a reference to a reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reservation" minOccurs="0" maxOccurs="2" type="ReservationControlInformationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">this segment is used to store the reservation number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrievePNRType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Retrieve PNR</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">1 - redisplay  2 - retrieve by record locator  3 - retrieve by office and name  4 - retrieve by service and name  5 - retrieve by frequent traveller  6 - retrieve by account number  7 - retrieve by customer profile  8 - retrieve by Insurance policy number  9 - retrieve by numeric record locator 10 - Retrieve Previous PNR</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="service" minOccurs="0" type="AlphaString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">information needed for redisplay if RTSVC (AIR, HTL, CAR). Needed for retrieve by service and name . Optional for retrieve by office and name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tattoo" minOccurs="0" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Element tattoo. Optional for redisplay when RTSVC.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="office" minOccurs="0" type="AlphaNumericString_Length9To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">PNR owner office id</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="targetSystem" minOccurs="0" type="AlphaNumericString_Length2To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Target system for retrieve PNR via claim. Only for retrieve by record locator and retrieve by service and name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="option1" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">X - RTAXR V - RV Optional for redisplay and retrieval types 2, 3 and 4. N/A otherwise.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="option2" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A - active PNRs only Optional for retrieve by office and name. N/A otherwise.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberType">
    <xs:annotation>
      <xs:documentation xml:lang="en">TICKET NUMBER</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="airline" type="NumericInteger_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">airline code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ticketNumber" type="NumericInteger_Length10To10">
        <xs:annotation>
          <xs:documentation xml:lang="en">airline ticket number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravelProductInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Travel product information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="product" minOccurs="0" type="ProductDateTimeTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Defaults to current date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="boardpointDetail" minOccurs="0" type="LocationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Needed for retrieval by flight, optional otherwise.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="offpointDetail" minOccurs="0" type="LocationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">needed only if board point is provided.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="company" minOccurs="0" type="CompanyIdentificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">company identification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="productDetails" minOccurs="0" type="ProductIdentificationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">needed only for retrieve by flight</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">TRAVELLER DETAILS</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="firstName" type="AlphaString_Length1To56">
        <xs:annotation>
          <xs:documentation xml:lang="en">Traveler first name</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Traveller information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="traveller" type="TravellerSurnameInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">traveler surname information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="passenger" minOccurs="0" type="TravellerDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">N/A for retrieve by record locator</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerSurnameInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">TRAVELLER SURNAME INFORMATION</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="surname" type="AlphaString_Length1To57">
        <xs:annotation>
          <xs:documentation xml:lang="en">traveler last name or group name</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="NumericInteger_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length9To9">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an9</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="9" />
      <xs:maxLength value="9" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length7To7">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="7" />
      <xs:maxLength value="7" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length3To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length2To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length3To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{3,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length10To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{10,10}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length5To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an5..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="5" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To20">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..20</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length1To57">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a..57</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="57" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length1To56">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a..56</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="56" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length2To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To27">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..27</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="27" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To30">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..30</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Date_DDMMYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Date format: DDMMYY</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])(0[1-9]|1[0-2])[0-9]{2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Time24_HHMM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Time format: 24H. All digits are mandatory . Example: from 0000 to 2359</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-1][0-9]|2[0-3])[0-5][0-9]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AMA_EDICodesetType_Length1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for codes in the AMADEUS code tables. Code Length is one alphanumeric character.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z]" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.1.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FDB3810BDF35710BDF4505896DC2EDA1AE0418D956C81B56328EACD80C088639B2845AA1C2A881AE4BF7728C96DF6D4F622CC0C47F3F1DE9B9B62579479556CEADB9D58A5AB6C91AE16E9475EF5804A0E3C4BD7FF7C58BFFDC06FB6D59B345DA729CBB779183AC06B6DC0CA160405EA4F127553C570F2888ADD4B841DBD61271B10E710BAF572F9D89A44B652418F49E3DA25BBEFAD32B0D15E2C1142D0F6844BA51B64CD199AAF77F46DA508BE07D638059482C23A1BBDB6054BDEFCD676D20EB19DB0BD3114E806AF4FE7205EE5533BBEF7AEF31A82F4039756F12B678F5A510D2D0DFF6C8FCEB7326867D7BCB7B20F67E7F57750BC4718D395C6C638EC3D700C5E37C10C9CFEB9D78A6A247C9566295FF04B334C6482D1378697710EE4254DEF1F4025AF9882A3EC4DB8F15D844B89A334084CB9FEDEC01D7CEBC136B097A139CF2F603FFD1198607FE53C45829EEBA707F0485B91E5C10095214B9EA8C3F0CC8E445FD91BC2CC4526477FA473FC395ABF29605C23CD0CB9712745345EAD0FFF16F9E650287D944DA89C337828AA7AA331481BAE8829E28F983B6CA5FF0A91F1290747AEF1F09F3B512D7B1A07D1EAD69A81B5E04F308331DAD71A8CC23BE7C34FF86871A4B9728C98FE3FB621D6B5999563FF0AA2CE691B7610263A46B179E7C20B84463F0A3861D30A1151145110CB349B6378ED7C6E34D59E151BB5A01BC00D29897A93282714B1953EC4BA5FAC6E7418E645829716CDA84FC24710D6B89C2B57F976F9A4C0685A4392809E137A65713CF5F27C482C57979B996A5264846ABC646D1BF68826DCF6A1EBC3B5330ABC8801C6168BED04E36BE4FAD79D2C166C024964397BD15FE4FBBCDEEFCA7A9565A4E9566A2BF6BB8CC1634774D512EB4D7123AAF24B71A1874B0F5264EF2E3EA5976551B18EEE41E399189E709FC8112BB21E74648CCC11183962187FAB4BA0E3840760177EC4DEFA3928CDBC089B1917D97BF603287919D8FE040000
-->

