Ticket_DisplayTSMPReply_13_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TTSMRR_13_1_1A" xmlns="http://xml.amadeus.com/TTSMRR_13_1_1A" elementFormDefault="qualified">
  <xs:element name="Ticket_DisplayTSMPReply">
    <xs:annotation>
      <xs:documentation xml:lang="en">Display a TSM-P</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="errorWarningGroup" minOccurs="0" type="ErrorGroupType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Error or warning returned by the application.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="detailsOfTSM" minOccurs="0" type="TSMPdataType">
          <xs:annotation>
            <xs:documentation xml:lang="en">TSM-P full image</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ApplicationErrorDetailType">
    <xs:sequence>
      <xs:element name="errorCode" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the data validation error condition.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorCategory" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identification of a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorCodeOwner" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the agency responsible for a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationErrorInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of application error within a message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorDetails" type="ApplicationErrorDetailType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Application error details.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributeInformationTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of attribute and the attribute</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeType" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">The Reason For Issuance Code or Subcode (RFIC/RFISC).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="attributeDescription" type="AlphaNumericString_Length1To256">
        <xs:annotation>
          <xs:documentation xml:lang="en">The RFIC or RFISC description.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to have tag value without code list for tag</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="criteriaSetType" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Qualifier identifying the RFIC</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="criteriaDetails" type="AttributeInformationTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details for the message criteria (name, value).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BaggageDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the number and weight of baggage.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeAllowance" minOccurs="0" type="NumericInteger_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">Total number of units.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="quantityCode" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code to qualify unit as pieces or seats.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="unitQualifier" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code to qualify unit as pounds or kilos.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodedAttributeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Convey coded key and corresponding value</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeType" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides the attribute Type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="attributeDescription" type="AlphaNumericString_Length1To256">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides a description for the attribute</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodedAttributeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to have tag value without code list for tag</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeDetails" type="CodedAttributeInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides details for the Attribute</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code or name to identify a company and any associated companies.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="otherCompany" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Airline code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyIdentificationTypeI_100319C">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code or name to identify a company and any associated companies.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="marketingCompany" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Carrier code: the numerical one</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConversionRateDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the conversion rate and the monetary amount.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="pricingAmount" minOccurs="0" type="NumericDecimal_Length1To18">
        <xs:annotation>
          <xs:documentation xml:lang="en">The bank exchange rate</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConversionRateTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details of a conversion rate related to an amount.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="conversionRateDetails" type="ConversionRateDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">The bank exchange rate</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CouponInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the coupon number, status, value, and other related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cpnNumber" type="AlphaNumericString_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Coupon number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CouponInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify data specific to a value (flight) coupon.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="couponDetails" type="CouponInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Coupon details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DummySegmentTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To serve the purpose of a mandatory segment at the beginning of a group and to avoid segment collision.</xs:documentation>
    </xs:annotation>
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ErrorGroupType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Conveys a potential error.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorOrWarningCodeDetails" type="ApplicationErrorInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The details of error/warning code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorWarningDescription" minOccurs="0" type="FreeTextInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The description of warning or error.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExcessBaggageDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details concerning a traveller's excess baggage.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="currency" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Currency</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="amount" minOccurs="0" type="NumericDecimal_Length1To18">
        <xs:annotation>
          <xs:documentation xml:lang="en">Amount</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExcessBaggageTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify information concerning excess baggage charges and the associated baggage details.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="excessBaggageDetails" minOccurs="0" type="ExcessBaggageDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Excess baggage charge</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="baggageDetails" minOccurs="0" type="BaggageDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Excess baggage quantity</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextDetailsType">
    <xs:sequence>
      <xs:element name="textSubjectQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Qualifier of the free text</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="language" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Whenever possible the language in which the free text is written.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="source" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Source:  - M (for Manual) if the free text comes from GUI or live agent entry,  - S (default value) if the free text comes from another system</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="encoding" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Encoding: - 1 for ASCII 7 bit (no national characters)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is used to convey the free text</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextDetails" type="FreeTextDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details about the free text.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="freeText" maxOccurs="99" type="AlphaNumericString_Length1To199">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text and message sequence numbers of the remarks.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InConnectionWithType">
    <xs:annotation>
      <xs:documentation xml:lang="en">In Connection With</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="carrier" type="TransportIdentifierType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Carrier field of ICW</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="identification" type="TicketNumberTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Mandatory doc serial number and optional ticket type for ICW</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="couponList" minOccurs="0" maxOccurs="16" type="CouponInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">List of coupons for ICW</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemReferencesAndVersionsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Exchange and link unique identifiers</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="uniqueReference" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">The value of the reference</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocationIdentificationBatchType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification of a location by code or name</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" type="AlphaNumericString_Length1To35" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type of monetary amount, the amount, and the currency code.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="typeQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Qualifier of the amount.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="amount" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Amount</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currency" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Currency of the amount</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey monetary amounts, rates and percentages.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="monetaryDetails" type="MonetaryInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details of the monetaty amount</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginatorIdentificationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the originator of the travel request.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="originatorId" minOccurs="0" type="NumericInteger_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">ATA/IATA Id number or pseudo IATA number or ERSP.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="inHouseIdentification1" minOccurs="0" type="AlphaNumericString_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">First In-House Identifier. Office/Agency code assigned by the reservation system. Office Id in AMAdeus.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="inHouseIdentification2" minOccurs="0" type="AlphaNumericString_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">Second In-House Identifier.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="inHouseIdentification3" minOccurs="0" type="AlphaNumericString_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">Third in-house identifier</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlaceLocationIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify a place or a location and/or related locations.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="locationType" type="AlphaNumericString_Length1To3" />
      <xs:element name="locationDescription" type="LocationIdentificationBatchType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide specific reference identification for a traveller.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceDetails" type="ReferencingDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details of the reference</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to convey the passenger references.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="passengerReference" type="ReferencingDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Used to convey the passenger tatoo or display number.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Qualifier of the tattoo</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="value" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tattoo</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a status, the action to be taken, and an additional qualification of the status.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indicator" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Qualifier of the indicator.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="action" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Value of the indicator.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify a status and related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="statusDetails" type="StatusDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details of the indicator</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is designed to convey date/time in a structured way.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="businessSemantic" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element can be used to provide the semantic of the information provided. Examples : - Impacted period - Departure date - Estimated arrival date and time</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dateTime" type="StructuredDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey date and/or time.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Store date and time in a structured way</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="year" type="Year_YYYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Year number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="month" type="Month_mM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Month number in the year ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="day" type="Day_nN">
        <xs:annotation>
          <xs:documentation xml:lang="en">Day number in the month ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hour" minOccurs="0" type="Hour_hH">
        <xs:annotation>
          <xs:documentation xml:lang="en">Hour between 0 and 23</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="minutes" minOccurs="0" type="Month_mM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Minutes between 0 and 59</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="seconds" minOccurs="0" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Seconds between 0 and 59</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="milliseconds" minOccurs="0" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Milliseconds between 0 and 999.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TSMPdataType">
    <xs:annotation>
      <xs:documentation xml:lang="en">TSM-P full content</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="passengerTattoo" type="ReferenceInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tattoo of the passenger to which the TSM-P is linked.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tattooOfTSM" type="ItemReferencesAndVersionsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tattoo of the TSM-P.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="validatingCarrier" minOccurs="0" type="TransportIdentifierTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Validating carrier code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fareTattoos" minOccurs="0" maxOccurs="8" type="ReferenceInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tattoos of fare elements of this TSM-P (FO, FM, FT, FP, FE, FD, FZ and FZ2)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="passengerName" type="TravellerInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Name of the passenger</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rfics" minOccurs="0" maxOccurs="3" type="AttributeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reason For Issuance Codes (RFIC) and their descriptions: - electronic RFIC [qualifier=E] - Paper MCO RFIC [qualifier=P] - IATA RFIC (for eMCO) [qualifier=I]</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tsmTypeAndIndicators" minOccurs="0" maxOccurs="4" type="CodedAttributeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">- TSM-P type (key=TSMP): standalone (S) or associated (A) - Fare Calculation Pricing indicator (FCP) - Fare Calculation Reporting indicator (FCR) - International indicator (key=INT, values=D/I/E/F/B/M)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tsmFlags" minOccurs="0" maxOccurs="4" type="StatusTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">- Change flag (CHF) - TSM issued indicator (ISD) - Confidential indicator (CNF) - Issuance Required (IRQ)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="monetaryInformation" minOccurs="0" maxOccurs="6" type="MonetaryInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">- Base fare + issue identifier (F/R/I/Y/U/W) - Net fare (H) - Total amount (T) - Equivalent amount (E) - Refundable amount (N) - Exchange value fare (X)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="bankExchangeRate" minOccurs="0" type="ConversionRateTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">The bank exchange rate</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="taxInformation" minOccurs="0" maxOccurs="198" type="TaxTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details of taxes:  - old/new/refundable (O/X/R) taxes indicator - currency - tax amount - iso tax code - nature tax code We can have 198 taxes maximum: - 99 old and new - + 99 refundable</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="freeTextData" minOccurs="0" maxOccurs="4" type="FreeTextInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">- Fare Calculation (FCL) - Document remarks (RMK) - Reason for waiving (RFW) - Accounting Data (ACD)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="creatorDetails" type="UserIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details of the creator of the TSM-P: - office id (in 1st 9902 data element) - agent sign (in 9904 data element)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="creationDate" type="StructuredDateTimeInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">TSM-P creation date (TSM)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="location" minOccurs="0" type="PlaceLocationIdentificationType" />
      <xs:element name="couponsDetails" maxOccurs="16">
        <xs:annotation>
          <xs:documentation xml:lang="en">Coupons of the TSM-P</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="productTattoo" type="ReferenceInformationTypeI">
              <xs:annotation>
                <xs:documentation xml:lang="en">Tattoo of the service identifying the coupon.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="rfisc" minOccurs="0" type="AttributeType">
              <xs:annotation>
                <xs:documentation xml:lang="en">The Reason For Issuance Subcode (RFISC) and its description</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="feeOwner" minOccurs="0" type="TransportIdentifierTypeI">
              <xs:annotation>
                <xs:documentation xml:lang="en">Fee owner</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="ambiDummy" type="DummySegmentTypeI">
              <xs:annotation>
                <xs:documentation xml:lang="en">To remove ambiguity between TRAs</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="icw" minOccurs="0" maxOccurs="4" type="InConnectionWithType">
              <xs:annotation>
                <xs:documentation xml:lang="en">In Connection With document/coupon number</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="couponValue" minOccurs="0" type="MonetaryInformationTypeI">
              <xs:annotation>
                <xs:documentation xml:lang="en">Value of the coupon</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="couponFlags" minOccurs="0" maxOccurs="4" type="StatusTypeI">
              <xs:annotation>
                <xs:documentation xml:lang="en">- Consumed at issuance indicator (CMI) - Non-refundable indicator (NRF)  - Non-exchangeable indicator (NEX) - Non-interlineable indicator (NIL)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="presentToAtAndRemarks" minOccurs="0" maxOccurs="3" type="FreeTextInformationType">
              <xs:annotation>
                <xs:documentation xml:lang="en">- Present To (PRT) - Present At (PRA) - Service remarks (RMK)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="validityDates" minOccurs="0" maxOccurs="2" type="StructuredDateTimeInformationType">
              <xs:annotation>
                <xs:documentation xml:lang="en">- Not Valid Before date (NVB) - Not Valid After date (NVA)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="baggageInformation" minOccurs="0" type="ExcessBaggageTypeI">
              <xs:annotation>
                <xs:documentation xml:lang="en">Excess Baggage data</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a rate, type of tax, and currency code.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="rate" type="AlphaNumericString_Length1To17">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tax amount</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="countryCode" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">ISO tax code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currencyCode" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Currency code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Nature tax code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details relating to tax(es).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="taxCategory" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tax category to distinct old from new taxes</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="taxDetails" type="TaxDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details of tax</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a ticket number, type of ticket, and related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" type="AlphaNumericString_Length1To10">
        <xs:annotation>
          <xs:documentation xml:lang="en">Document serial number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Coupon type: E - electronic coupon P - paper coupon</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey information related to a specific ticket.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="documentDetails" type="TicketNumberDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Document details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportIdentifierTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify transport service(s) or to specify transport service(s) which is/are to be updated or cancelled.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="companyIdentification" type="CompanyIdentificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details of the airline</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportIdentifierType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the transport service(s) which is /are to be updated or cancelled</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="companyIdentification" type="CompanyIdentificationTypeI_100319C">
        <xs:annotation>
          <xs:documentation xml:lang="en">Carrier identification</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the given/first name and the title of a traveller and the traveller type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="givenName" minOccurs="0" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Given name of the passenger</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="title" minOccurs="0" maxOccurs="2" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Title of the passenger</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a traveler(s) and personal details relating to the traveler(s).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="paxDetails" type="TravellerSurnameInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details of the passenger</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherPaxDetails" minOccurs="0" type="TravellerDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details of the passenger</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerSurnameInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification of the surname of a traveller, the type of traveller, number of travellers per surname and the action to be taken.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="surname" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Surname of the passenger</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of the passenger</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is used to identify a user.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="originIdentification" type="OriginatorIdentificationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Originator Identification Details</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="originatorTypeCode" minOccurs="0" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Used to specify which kind of info is given in DE 9900.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="originator" minOccurs="0" type="AlphaNumericString_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">Authority code of the requester If Sign Id : (Area Code)+(Numeric Sine)+(Agent Initials)+(Duty Code) ex : B0001XVSU).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To199">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..199</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="199" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To9">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..9</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="9" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To70">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To256">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..256</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="256" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericDecimal_Length1To18">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..18</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To17">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..17</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="17" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To9">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..9</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,9}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To15">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..15</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,15}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Year_YYYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the year. Example: 2003</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Month_mM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|1[0-2])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Day_nN">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the day in the  month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|[1-2][0-9]|3[0-1])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Hour_hH">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the hours in the  time. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-1]?[0-9]|2[0-3]" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FDB3810BDF35710BDECA1B52CC56D811AE0418D9C74817512D80A7A316030E4D8264A912A870AA20DF2DF7728C96D1628D0DD8B30331CCDC77B6FAE5737AB4D59AFAAFDED8DB8C88BC52CBF98150BFE15B403D4B2E7C5FBE5878FCBFC825FAFEBB779BECC7356AECBD8B78057C682930D080AEC3F4B34AA4EE1EC09357B900837F486AD54204E31B6CBF9FCA9B1996CA4860E33E59B397BE89CB6509920E608311A77C4B9360A993A81FAB6A56F23450C1D30E535500A0AE75DF29A061C79D35BD34AD7A776C275D652A0ED83399EA278538EEDF85DF06D301065E8B9749A5F7A77309A6A1869F99FEEE04323A3F16EC93B27BB78F2C1FC0D9A770843BA36A8ACC72E00C7188C8AB6E7F4CF83D15423E3845CCE67FCDC0C339961F2ADE59B3407F20D4D1F1E41676F988683EC6CBC0E6D824B8B83B4084CFBEEC1C216BE77E014DCC9A84ED30BB8CFFF094C703F739E13412FFBE74708485B9115C00295214B1EA943FFC20E44DFA6B384994F4C0EFE40E7F073B27E53C07A25ED04B9F5474D3456CBDD975559ED56DA1CA48AB5F71677AB7A5F198CD2C54B628AF823E6766B19BE41627CCCC1816BDCFDE58F54CB1D87418CBE75B6670D84234C600CF69501AB71EB43FC011F2D8E34578909D37FC72A62DDD84939EE7F41D47AE3E20DC4918E416CC1FBF80AA1C14F02CED8B8424214D329E5F3BC986278E543690DD59E149BB4601460454AA2DE24CA11456C6488A9EEBD33CAC47E5A2406E9D00EFA247C04618DF3A9725DAEE7CF1AACA1352409E825A35796C6D3AFCF87C47279BE99B1264506A8864B364EB127B4F1B68B6D17AFBCD510440A30369BAD4718FF406E7EDEC96CC646904451B257FD457957EE6BA388DB7DB12848D68D344E54E596C1534B8CED25EEABD5B5A837F7AB33435C0690E2E2D3E21C1075BD5D6F36ACA59B3078229647EC47824441D6A349AC91398023071CC5D498D4D65AD9538DBB777C8ADDB75A4648217626EF17E91B684970932444B160FF0029F79D6B21050000
-->

