AMA/2016B/AMA_CommonTypes_Proxy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://xml.amadeus.com/2010/06/Types_v3" xmlns:iata="http://www.iata.org/IATA/2007/00/IATA2010.1" xmlns:ota="http://www.opentravel.org/OTA/2003/05/OTA2011A" targetNamespace="http://xml.amadeus.com/2010/06/Types_v3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.004" id="AMA2016B">
  <xs:import namespace="http://www.opentravel.org/OTA/2003/05/OTA2011A" schemaLocation="../../OTA/2011A/OTA_Proxy.xsd" />
  <xs:import namespace="http://www.iata.org/IATA/2007/00/IATA2010.1" schemaLocation="../../IATA/2010.1/IATA_Proxy.xsd" />
  <!--Replaced file inclusion C:/Users/ksgupta/Downloads/ZIP_file_data4/TourSuite_1.0/AMA/2016B/chameleon/AMA_CommonTypes.xsd with its content-->
  <!--Replaced file inclusion C:/Users/ksgupta/Downloads/ZIP_file_data4/TourSuite_1.0/AMA/2016B/chameleon/AMA_SimpleTypes.xsd with its content-->
  <xs:annotation>
    <xs:documentation xml:lang="en">.</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="CodePatternType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for codes. It may contain merely codes or integer codes associated to a value in AMA_CodeTable.xls.
Pattern is composed on 3 parts: Standard (AMA or OTA or IATA), ListCode (3 upper case letters) and Code (1 to 3 digits). Code is mandatory. ListName is mandatory if Standard is precised, else it is optional. Standard is optional.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z]{1,3}((\.[0-9A-Z]{3,4})((\.(AMA|OTA|IATA|UIC)){0,1})){0,1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String0">
    <xs:annotation>
      <xs:documentation>Used for String length 0</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaStringLength1">
    <xs:restriction base="xs:string">
      <xs:maxLength value="1" />
      <xs:pattern value="([a-zA-Z])+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaStringLength1orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either an AlphaStringLength1 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="AlphaStringLength1 String0" />
  </xs:simpleType>
  <xs:simpleType name="AlphaStringLength1to2">
    <xs:restriction base="xs:string">
      <xs:maxLength value="2" />
      <xs:pattern value="([a-zA-Z])+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaStringLength1to2orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either an AlphaStringLength1to2 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="AlphaStringLength1to2 String0" />
  </xs:simpleType>
  <xs:simpleType name="AlphaStringLength1to3">
    <xs:restriction base="xs:string">
      <xs:maxLength value="3" />
      <xs:pattern value="([a-zA-Z])+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaStringLength1to4">
    <xs:restriction base="xs:string">
      <xs:maxLength value="4" />
      <xs:pattern value="([a-zA-Z])+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaStringLength1to4orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either an AlphaStringLength1to4 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="AlphaStringLength1to4 String0" />
  </xs:simpleType>
  <xs:simpleType name="AlphaStringLength3">
    <xs:restriction base="xs:string">
      <xs:maxLength value="3" />
      <xs:pattern value="([a-zA-Z])+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaStringLength3orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either an AlphaStringLength3 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="AlphaStringLength3 String0" />
  </xs:simpleType>
  <xs:simpleType name="NumericStringLength1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Numeric Strings, length 1.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
      <xs:pattern value="([0-9])*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericStringLength1orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either a Numeric Strings, length 1 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="NumericStringLength1 String0" />
  </xs:simpleType>
  <xs:simpleType name="NumericStringLength1to2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 2.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="2" />
      <xs:pattern value="([0-9])*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericStringLength1to2orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either a Numeric Strings, length 1 to 2 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="NumericStringLength1to2 String0" />
  </xs:simpleType>
  <xs:simpleType name="NumericStringLength4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Numeric Strings, length exactly 4.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="4" />
      <xs:maxLength value="4" />
      <xs:pattern value="[0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericStringLength1to4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 4.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
      <xs:pattern value="([0-9])*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericStringLength1to4orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either a Numeric Strings, length 1 to 4 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="NumericStringLength1to4 String0" />
  </xs:simpleType>
  <xs:simpleType name="NumericStringLength1to5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 5.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
      <xs:pattern value="([0-9])*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericStringLength1to5orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either a Numeric Strings, length 1 to 5 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="NumericStringLength1to5 String0" />
  </xs:simpleType>
  <xs:simpleType name="Numeric0to99999">
    <xs:annotation>
      <xs:documentation>Use for numeric values, from 0 to 99999 inclusive.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="99999" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Numeric0to999999">
    <xs:annotation>
      <xs:documentation>Use for numeric values, from 0 to 999999 inclusive.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="999999" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Numeric0to9999999">
    <xs:annotation>
      <xs:documentation>Use for numeric values, from 0 to 9999999 inclusive.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="9999999" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Numeric0to9999999999">
    <xs:annotation>
      <xs:documentation>Use for numeric values, from 0 to 9999999999 inclusive.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:long">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="9999999999" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericStringLength1to8">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 8.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="8" />
      <xs:pattern value="([0-9])*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericStringLength1to8orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either a Numeric Strings, length 1 to 8 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="NumericStringLength1to8 String0" />
  </xs:simpleType>
  <xs:simpleType name="NumericStringLength1to99">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 99.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="99" />
      <xs:pattern value="([0-9])*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericStringLength1to99orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either a Numeric Strings, length 1 to 99 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="NumericStringLength1to99 String0" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to2">
    <xs:restriction base="xs:string">
      <xs:maxLength value="2" />
      <xs:pattern value="([0-9a-zA-Z])+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to2orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either an Alphanumeric Lenght 1to2 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="AlphaNumericStringLength1to2 String0" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to3">
    <xs:restriction base="xs:string">
      <xs:maxLength value="3" />
      <xs:pattern value="([0-9a-zA-Z])+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to3orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either an Alphanumeric Lenght 1to3 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="AlphaNumericStringLength1to3 String0" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to4">
    <xs:restriction base="xs:string">
      <xs:maxLength value="4" />
      <xs:pattern value="([0-9a-zA-Z])+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to4orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either an Alphanumeric Lenght 1to4 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="AlphaNumericStringLength1to4 String0" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to6">
    <xs:restriction base="xs:string">
      <xs:maxLength value="6" />
      <xs:pattern value="([0-9a-zA-Z])+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to6orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either an Alphanumeric Lenght 1to6 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="AlphaNumericStringLength1to6 String0" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to7">
    <xs:restriction base="xs:string">
      <xs:maxLength value="7" />
      <xs:pattern value="([0-9a-zA-Z])+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to7orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either an Alphanumeric Lenght 1to7 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="AlphaNumericStringLength1to7 String0" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to8">
    <xs:restriction base="xs:string">
      <xs:maxLength value="8" />
      <xs:pattern value="([0-9a-zA-Z])+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to8orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either an Alphanumeric Lenght 1to8 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="AlphaNumericStringLength1to8 String0" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to10">
    <xs:restriction base="xs:string">
      <xs:maxLength value="10" />
      <xs:pattern value="([0-9a-zA-Z])+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to12">
    <xs:restriction base="xs:string">
      <xs:maxLength value="12" />
      <xs:pattern value="([0-9a-zA-Z])+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to10orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either an Alphanumeric Lenght 1to10 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="AlphaNumericStringLength1to10 String0" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to14">
    <xs:restriction base="xs:string">
      <xs:maxLength value="14" />
      <xs:pattern value="([0-9a-zA-Z])+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to14orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either an Alphanumeric Lenght 1to14 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="AlphaNumericStringLength1to14 String0" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to16">
    <xs:restriction base="xs:string">
      <xs:maxLength value="16" />
      <xs:pattern value="([0-9a-zA-Z])+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to17">
    <xs:restriction base="xs:string">
      <xs:maxLength value="17" />
      <xs:pattern value="([0-9a-zA-Z])+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to17orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either an Alphanumeric Lenght 1to17 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="AlphaNumericStringLength1to17 String0" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to19">
    <xs:restriction base="xs:string">
      <xs:maxLength value="19" />
      <xs:pattern value="([0-9a-zA-Z])+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to19orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either an Alphanumeric Lenght 1to19 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="AlphaNumericStringLength1to19 String0" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to20">
    <xs:restriction base="xs:string">
      <xs:maxLength value="20" />
      <xs:pattern value="([0-9a-zA-Z])+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to20orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either an Alphanumeric Lenght 1to20 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="AlphaNumericStringLength1to20 String0" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to25">
    <xs:restriction base="xs:string">
      <xs:maxLength value="25" />
      <xs:pattern value="([0-9a-zA-Z])+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to25orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either an Alphanumeric Lenght 1to25 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="AlphaNumericStringLength1to25 String0" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to30">
    <xs:restriction base="xs:string">
      <xs:maxLength value="30" />
      <xs:pattern value="([0-9a-zA-Z])+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to30orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either an Alphanumeric Lenght 1to30 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="AlphaNumericStringLength1to30 String0" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to31">
    <xs:restriction base="xs:string">
      <xs:maxLength value="31" />
      <xs:pattern value="([0-9a-zA-Z])+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to31orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either an Alphanumeric Lenght 1to31 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="AlphaNumericStringLength1to31 String0" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to32">
    <xs:restriction base="xs:string">
      <xs:maxLength value="32" />
      <xs:pattern value="([0-9a-zA-Z])+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to32orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either an Alphanumeric Lenght 1to32 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="AlphaNumericStringLength1to32 String0" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to35">
    <xs:restriction base="xs:string">
      <xs:maxLength value="35" />
      <xs:pattern value="([0-9a-zA-Z])+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to35orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either an Alphanumeric Lenght 1to35 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="AlphaNumericStringLength1to35 String0" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to70">
    <xs:restriction base="xs:string">
      <xs:maxLength value="70" />
      <xs:pattern value="([0-9a-zA-Z])+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to70orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either an Alphanumeric Lenght 1to70 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="AlphaNumericStringLength1to70 String0" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to9">
    <xs:restriction base="xs:string">
      <xs:maxLength value="9" />
      <xs:pattern value="([0-9a-zA-Z])+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to9orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either an Alphanumeric Lenght 1to9 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="AlphaNumericStringLength1to9 String0" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to99">
    <xs:restriction base="xs:string">
      <xs:maxLength value="99" />
      <xs:pattern value="([0-9a-zA-Z])+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to99orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either an Alphanumeric Lenght 1to99 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="AlphaNumericStringLength1to99 String0" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to256">
    <xs:restriction base="xs:string">
      <xs:maxLength value="256" />
      <xs:pattern value="([0-9a-zA-Z])+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to256orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either an Alphanumeric Lenght 1to256 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="AlphaNumericStringLength1to256 String0" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength2">
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="2" />
      <xs:pattern value="([0-9a-zA-Z])*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength2orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either an Alphanumeric Lenght 2 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="AlphaNumericStringLength2 String0" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength2to3">
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="3" />
      <xs:pattern value="([0-9a-zA-Z])*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength2to6">
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="6" />
      <xs:pattern value="([0-9a-zA-Z])*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength2to3orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either an Alphanumeric Lenght 2to3 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="AlphaNumericStringLength2to3 String0" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength3">
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="3" />
      <xs:pattern value="([0-9a-zA-Z])*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength3orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either an Alphanumeric Lenght 3 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="AlphaNumericStringLength3 String0" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength3to7">
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="7" />
      <xs:pattern value="([0-9a-zA-Z])*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength3to7orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either an Alphanumeric Lenght 3to7 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="AlphaNumericStringLength3to7 String0" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength3to10">
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="10" />
      <xs:pattern value="([0-9a-zA-Z])*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength3to10orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either an Alphanumeric Lenght 3to10 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="AlphaNumericStringLength3to10 String0" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength4">
    <xs:restriction base="xs:string">
      <xs:minLength value="4" />
      <xs:maxLength value="4" />
      <xs:pattern value="([0-9a-zA-Z])*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength4orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either an Alphanumeric Lenght 4 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="AlphaNumericStringLength4 String0" />
  </xs:simpleType>
  <xs:simpleType name="StringLength1to3">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to4">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to12">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="12" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to20">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to20orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either a String length 1 to 20 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="StringLength1to20 String0" />
  </xs:simpleType>
  <xs:simpleType name="StringLength1to25">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to25orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either a String length 1 to 25 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="StringLength1to25 String0" />
  </xs:simpleType>
  <xs:simpleType name="StringLength1to30">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to30orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either a String length 1 to 30 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="StringLength1to30 String0" />
  </xs:simpleType>
  <xs:simpleType name="StringLength1to31">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="31" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to31orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either a String length 1 to 31 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="StringLength1to31 String0" />
  </xs:simpleType>
  <xs:simpleType name="StringLength1to35">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to35orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either a String length 1 to35 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="StringLength1to35 String0" />
  </xs:simpleType>
  <xs:simpleType name="StringLength1to60">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to60orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either a String length 1 to 60 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="StringLength1to60 String0" />
  </xs:simpleType>
  <xs:simpleType name="StringLength1to64">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="64" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to64orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either a String length 1 to 64 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="StringLength1to64 String0" />
  </xs:simpleType>
  <xs:simpleType name="StringLength1to70">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to70orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either a String length 1 to 70 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="StringLength1to70 String0" />
  </xs:simpleType>
  <xs:simpleType name="StringLength1to99">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="99" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to99orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either a String length 1 to 99 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="StringLength1to99 String0" />
  </xs:simpleType>
  <xs:simpleType name="StringLength1to109">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="109" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to109orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either a String length 1 to 109 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="StringLength1to109 String0" />
  </xs:simpleType>
  <xs:simpleType name="StringLength1to128">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="128" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to128orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either a String length 1 to 128 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="StringLength1to128 String0" />
  </xs:simpleType>
  <xs:simpleType name="StringLength1to199">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="199" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to199orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either a String length 1 to 199 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="StringLength1to199 String0" />
  </xs:simpleType>
  <xs:simpleType name="StringLength1to256">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="256" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to256orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either a String length 1 to 256 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="StringLength1to256 String0" />
  </xs:simpleType>
  <xs:simpleType name="StringLength3">
    <xs:annotation>
      <xs:documentation>Used for String length 3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength3orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either a String length 3 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="StringLength3 String0" />
  </xs:simpleType>
  <xs:simpleType name="StringLength4">
    <xs:annotation>
      <xs:documentation>Used for String length 4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="4" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength4orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either a String length 4 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="StringLength4 String0" />
  </xs:simpleType>
  <xs:simpleType name="StringLength0to15">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="15" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength0to15orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either a StringLength0to15 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="StringLength0to15 String0" />
  </xs:simpleType>
  <xs:simpleType name="StringLength0to64">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="64" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength0to64orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either a StringLength0to64 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="StringLength0to64 String0" />
  </xs:simpleType>
  <xs:simpleType name="StringLength0to128">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="128" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength0to128orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either a StringLength0to128 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="StringLength0to128 String0" />
  </xs:simpleType>
  <xs:simpleType name="StringLength0to140">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="140" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength0to140orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either a StringLength0to140 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="StringLength0to140 String0" />
  </xs:simpleType>
  <xs:simpleType name="NumericStringLength10">
    <xs:annotation>
      <xs:documentation>Used for Numeric Strings, length 10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="10" />
      <xs:maxLength value="10" />
      <xs:pattern value="[0-9]{10}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericStringLength10orString0">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used in order to validate either a NumericStringLength10 or String0.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="NumericStringLength10 String0" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength6">
    <xs:annotation>
      <xs:documentation>Used for  Alpha-Numeric Strings, length 6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="6" />
      <xs:maxLength value="6" />
      <xs:pattern value="[0-9a-zA-Z]{6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaStringLength2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Alpha String Length 2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z]{2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:annotation>
    <xs:documentation xml:lang="en">.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="PersonNameType">
    <xs:annotation>
      <xs:documentation>A extension of the OTA PersonNameType in order to be able to convey several names of different types for one person.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ota:PersonNameType">
        <xs:attribute name="NameVariety" type="CodePatternType">
          <xs:annotation>
            <xs:documentation>To specify the type of the name. Refer to the Amadeus codeset list NAT (Name Type).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Language" type="xs:language" use="optional">
          <xs:annotation>
            <xs:documentation xml:lang="en">The language ID for the associated content.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="DisplayedName" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>Specify if the name should be displayed. Refer to the Amadeus codeset list NAT (Name Type).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="RomanizationMethod" type="CodePatternType">
          <xs:annotation>
            <xs:documentation>Specify the method used to romanize the native name. Only applicable for romanized names. refer to the Amdeus Codeset list NRM (Name Romanization Method).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:attributeGroup name="ErrorWarningAttributeGroup">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to identify an application error by either text, code, or by an online description and also to give the status, tag, and/or identification of the record that may have caused the error.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="ShortText" type="ota:StringLength1to64" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">An abbreviated version of the error in textual format.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Code" type="ota:NumericStringLength1to8" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">Code must be specified. This refers to a table of coded values exchanged between applications to identify errors or warnings. Refer to Amadeus Code List Error Codes.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="DocURL" type="xs:anyURI" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">If present, this URL refers to an online description of the error that occurred.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Status" type="ota:StringLength1to64" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">If present, recommended values are those enumerated in the AMA_ErrorRS, (NotProcessed | Incomplete | Complete | Unknown) however, the data type is designated as string data, recognizing that trading partners may identify additional status conditions not included in the enumeration.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Tag" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">If present, this attribute may identify an unknown or misspelled tag that caused an error in processing. It is recommended that the Tag attribute use XPath notation to identify the location of a tag in the event that more than one tag of the same name is present in the document. Alternatively, the tag name alone can be used to identify missing data [Type=ReqFieldMissing].</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="RecordID" type="ota:StringLength1to64" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">If present, this attribute allows for batch processing and the identification of the record that failed amongst a group of records. This value may contain a concatenation of a unique failed transaction ID with specific record(s) associated with that transaction.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="CodeGroup">
    <xs:annotation>
      <xs:documentation>Used for codes. It may contain merely codes or integer codes associated to a value in AMA_CodeTable.xls</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Code" type="ota:StringLength1to64" use="required">
      <xs:annotation>
        <xs:documentation>The code value - Sample: 21</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Owner" type="ota:StringLength1to16">
      <xs:annotation>
        <xs:documentation>Which owner defined this code, may be one of OTA, IATA or AMA</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ListName" type="ota:StringLength1to64">
      <xs:annotation>
        <xs:documentation>The name of the code list this code refers too - sample: Transportation Code</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ListCode" type="ota:StringLength1to8">
      <xs:annotation>
        <xs:documentation>The code of the code list this code refers too - sample: TRP</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Desc" type="ota:StringLength1to128">
      <xs:annotation>
        <xs:documentation>The textual value that describes the code - Sample: Train</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="CodeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to convey any code. It may contain merely codes or integer codes associated to a value in AMA_CodeTable.xls</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="CodeGroup" />
  </xs:complexType>
  <xs:complexType name="WarningType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Standard way to indicate successful processing of an Amadeus message, but one in which warnings are generated.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ota:FreeTextType">
        <xs:attribute name="Type" type="ota:StringLength0to255" use="required">
          <xs:annotation>
            <xs:documentation xml:lang="en">The Error element MUST contain the Type attribute that uses a recommended set of values to indicate the error type.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attributeGroup ref="ErrorWarningAttributeGroup">
          <xs:annotation>
            <xs:documentation xml:lang="en">Details of the error.</xs:documentation>
          </xs:annotation>
        </xs:attributeGroup>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ErrorType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Standard way to indicate that an error occurred during the processing of an Amadeus message. If the message successfully processes, but there are business errors, those errors should be passed in the warning element.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ota:FreeTextType">
        <xs:attribute name="Type" type="ota:OTA_CodeType" use="required">
          <xs:annotation>
            <xs:documentation xml:lang="en">The Error element MUST contain the Type attribute that uses a recommended set of values to indicate the error type.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attributeGroup ref="ErrorWarningAttributeGroup">
          <xs:annotation>
            <xs:documentation xml:lang="en">Details of the error.</xs:documentation>
          </xs:annotation>
        </xs:attributeGroup>
        <xs:attribute name="NodeList" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation xml:lang="en">An XPath expression that selects all the nodes whose data caused this error. Further, this expression should have an additional contraint which contains the data of the node. This will provide the offending data back to systems that cannot maintain the original message.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="GenericWarningsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">A collection of errors that occurred during the processing of a message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Warnings" type="WarningsType" minOccurs="0" />
      <xs:element ref="ota:Warnings" minOccurs="0" />
      <xs:element ref="iata:Warnings" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericErrorsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">A collection of errors that occurred during the processing of a message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Errors" type="ErrorsType" minOccurs="0" />
      <xs:element ref="ota:Errors" minOccurs="0" />
      <xs:element ref="iata:Errors" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">A collection of Amadeus errors that occurred during the processing of a message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Error" type="ErrorType" maxOccurs="99" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WarningsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">A collection of Amadeus errors that occurred during the processing of a message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Warning" type="ErrorType" maxOccurs="99" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReplyType">
    <xs:annotation>
      <xs:documentation>Basic structure of any webservice reply. Extend this type to implement a reply.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ActionStatusType">
        <xs:attributeGroup ref="ota:OTA_PayloadStdAttributes" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PointOfSaleType">
    <xs:annotation>
      <xs:documentation>Contains all data of a Point of Sale.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RequestorID" type="iata:UniqueID_Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Standard identification of the requestor.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BookingChannel" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CompanyName" type="ota:CompanyNameType" minOccurs="0" />
          </xs:sequence>
          <xs:attribute name="Type" type="ota:StringLength1to128">
            <xs:annotation>
              <xs:documentation>Channel type used by the POS.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="POS_Type" type="ota:OTA_CodeType" use="required">
      <xs:annotation>
        <xs:documentation>Specifies a code for the type of the POS (i.e. last updator, owner...). Refer to the Amadeus POS type (POS) codeset list.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="PseudoCityCode" type="ota:StringLength1to16" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">An identification code assigned to an office/agency by a reservation system.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="AgentSign" type="ota:StringLength0to128">
      <xs:annotation>
        <xs:documentation>Agent sign of the user.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="AgentDutyCode" type="ota:StringLength0to8">
      <xs:annotation>
        <xs:documentation>Duty code of the user.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ERSP_UserID" type="ota:StringLength1to16" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">Electronic Reservation Service Provider (ERSP) assigned identifier used to identify the individual using the ERSP system.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="FirstDepartPoint" type="ota:StringLength3" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">The point of first departure in a trip.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="TrueCityCode" type="ota:StringLength3" use="optional">
      <xs:annotation>
        <xs:documentation>The true city code of the requesting party.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ISO_Country" type="ota:ISO3166" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">The country code of the requesting party.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ISO_Currency" type="ota:AlphaLength3" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">The currency code of the requesting party.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Language" type="ota:StringLength0to128">
      <xs:annotation>
        <xs:documentation>Language preference.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Date" type="ota:DateOrDateTimeType">
      <xs:annotation>
        <xs:documentation>The date corresponding to this point of sale action.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Time" type="ota:DateOrDateTimeType">
      <xs:annotation>
        <xs:documentation>The time corresponding to this point of sale action.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="TimeZone" type="iata:TimeType">
      <xs:annotation>
        <xs:documentation>To precise the time zone of the point of sale. LOC for local time or UTC.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PointsOfSaleType">
    <xs:annotation>
      <xs:documentation>Contains several Points of Sale.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PointOfSale" type="PointOfSaleType" maxOccurs="10" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CriteriaSetType">
    <xs:annotation>
      <xs:documentation>Criteria Set (key/value map)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Criteria" maxOccurs="99">
        <xs:complexType>
          <xs:attribute name="Key" type="ota:StringLength1to32" use="required" />
          <xs:attribute name="Value" type="ota:StringLength1to255" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RawDataType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="Encoding" type="ota:StringLength1to16" use="optional" />
        <xs:attribute name="Compression" type="ota:StringLength1to32" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ActionStatusType">
    <xs:choice>
      <xs:element name="Success">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Warnings" type="GenericWarningsType" minOccurs="0" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Failure">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Warnings" type="GenericWarningsType" minOccurs="0" />
            <xs:element name="Errors" type="GenericErrorsType" minOccurs="0" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:schema>
