AMA/2015F/AMA_TicketUpdateRefundRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 rel. 2 sp2 (x64) (http://www.altova.com) by ﻿AMADEUS s.a.s. (AMADEUS s.a.s.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://xml.amadeus.com/2010/06/TicketGTP_v3" xmlns:ama="http://xml.amadeus.com/2010/06/Types_v2" xmlns:att="http://xml.amadeus.com/2010/06/TicketTypes_v2" xmlns:ota="http://www.opentravel.org/OTA/2003/05/OTA2010B" targetNamespace="http://xml.amadeus.com/2010/06/TicketGTP_v3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.000" id="AMA2015F">
  <xs:import namespace="http://xml.amadeus.com/2010/06/TicketTypes_v2" schemaLocation="AMA_Ticket_GTP_CommonTypes_Proxy.xsd" />
  <xs:import namespace="http://www.opentravel.org/OTA/2003/05/OTA2010B" schemaLocation="../../OTA/2010B/OTA_Proxy.xsd" />
  <xs:import namespace="http://xml.amadeus.com/2010/06/Types_v2" schemaLocation="../2012F/AMA_CommonTypes_Proxy.xsd" />
  <xs:element name="AMA_TicketUpdateRefundRQ">
    <xs:annotation>
      <xs:documentation>To update an ongoing refund</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ContractBundle" maxOccurs="99">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Contracts" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Refers to ellements being refunded. Exp: Ticket, EMD...</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Contract" maxOccurs="99">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Passengers" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Passenger" type="att:PassengerType" minOccurs="0" maxOccurs="9" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Taxes" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Tax" type="att:TaxType" minOccurs="0" maxOccurs="199" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Fees" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Fee" type="att:FeeType" minOccurs="0" maxOccurs="99" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Penalties" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Penalty" type="att:PenaltyType" minOccurs="0" maxOccurs="99" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Commissions" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Commission" type="ota:CommissionType" minOccurs="0" maxOccurs="99" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="MonetaryInformations" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="MonetaryInformation" type="att:MonetaryInformationType" minOccurs="0" maxOccurs="199">
                                  <xs:annotation>
                                    <xs:documentation>To convey monetary amounts, rates and percentages.</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="PricingDetails" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>AIR: Pricing details</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="PriceTicketDetails" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">Pricing details indicators</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Indicator" type="att:AlphaNumericString_Length1To3" minOccurs="0">
                                        <xs:annotation>
                                          <xs:documentation xml:lang="en">Indicators for : - Domestic/Internationnal itinerary statistical code This information may be not present in case of MCO refund (Miscellaneous Charges Order) as the notion of itinerary is irrelevant in that case.</xs:documentation>
                                        </xs:annotation>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="PriceTariffType" type="att:AlphaNumericString_Length1To2" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">Indication of NR when the ticket to refund has been issued in Net Remit negociated fare.</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="TourCode" type="att:AlphaNumericString_Length1To15" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">AIR: Tour information</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="DocumentAndCouponInformation" type="att:DocumentAndCouponInformationType" minOccurs="0" maxOccurs="7" />
                          <xs:element name="TravellerPriorityInfo" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">AIR: Use for Staff: Staff number, Date of Joining and Cost Center.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Company" type="att:AlphaNumericString_Length1To35" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">Company specific identification (eg. cost center, etc)</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="DateOfJoining" type="ota:DateOrDateTimeType" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">Date of joining Ex: 2013-05-11</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="TravellerReference" type="att:AlphaNumericString_Length1To10" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">Staff number</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="FirstAndLastSegmentDates" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">AIR: Conveys the date of the first and the last segment of the original coupons</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="BeginDateTime" type="att:StructuredDateType">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">Convey the begin date/time of a period.</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="EndDateTime" type="att:StructuredDateType">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">Convey the end date/time of a period.</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="OriginAndDestination" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">AIR: The routing field identifies what routing the document was to be refunded. For manual refund routing information is not available and this will be up to the agent to enter routing in order to be able to calculate VAT. In cases where a manual document needs to be refunded the routing indicator is mandatory. (For full and partial refund this element can not be entered)</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Origin" type="att:AlphaNumericString_Length1To25" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">City code or country code of the start of the original document. Example: DE or MUC</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="Destination" type="att:AlphaNumericString_Length1To25" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">City code or country code of the end of the original document. Example: DE or MUC If the start of the original document is a city code, then the end must be specified as a city code also. If the start of the original document is a country code, then the end must be specified as a country code also.</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="RefundedRoute" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>AIR: List of all stops (stations) of refunded itenerary</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Station" type="att:AlphaNumericString_Length1To25" maxOccurs="99" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="RefundedItineraries" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>This default group is used to convey the refunded itinerary. The refunded itinerary is composed of the origin city/airport code, the flight operating airline code and the destination city/airport code.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="RefundedItinerary" minOccurs="0" maxOccurs="16">
                                  <xs:annotation>
                                    <xs:documentation>Refunded itinerary per coupon</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="AirlineCode" type="att:AlphaNumericString_Length1To35">
                                        <xs:annotation>
                                          <xs:documentation>Used to convey the flight operating carrier code in relation with the coupon being refunded.</xs:documentation>
                                        </xs:annotation>
                                      </xs:element>
                                      <xs:element name="OriginAndDestination">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Origin" type="att:AlphaNumericString_Length1To25" minOccurs="0">
                                              <xs:annotation>
                                                <xs:documentation xml:lang="en">City code or country code of the start of the original document. Example: DE or MUC</xs:documentation>
                                              </xs:annotation>
                                            </xs:element>
                                            <xs:element name="Destination" type="att:AlphaNumericString_Length1To25" minOccurs="0">
                                              <xs:annotation>
                                                <xs:documentation xml:lang="en">City code or country code of the end of the original document. Example: DE or MUC If the start of the original document is a city code, then the end must be specified as a city code also. If the start of the original document is a country code, then the end must be specified as a country code also.</xs:documentation>
                                              </xs:annotation>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <!--Replaced incorrect type "xs:nonNegativeInteger"-->
                        <xs:attribute name="ID" type="xs:long" use="required" />
                        <!--Replaced incorrect type "xs:nonNegativeInteger"-->
                        <xs:attribute name="Tattoo" type="xs:long" use="optional">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Indicates the PNR Tattoo of refunded item</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attributeGroup ref="att:TicketAttributes" />
                        <xs:attribute name="ReceiptNumber" type="xs:string" use="optional">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Indicates refund receipt number</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="DateTimeProvider" type="ota:DateOrDateTimeType" use="optional">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Indicates provider's refund date/date and time</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DateTime" minOccurs="0" maxOccurs="9">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="BusinessSemantic" type="ama:CodeType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">This data element can be used to provide the semantic of the information provided. Examples : - Impacted period - Departure date - Estimated arrival date and time</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="StructuredDateTime" type="att:StructuredDateTimeType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Convey date and/or time.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="FormOfPayments" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FormOfPayment" minOccurs="0" maxOccurs="99">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FreeFlow" type="att:AlphaNumericString_Length1To199" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>FOP desciription</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                        <!--Replaced incorrect type "xs:nonNegativeInteger"-->
                        <xs:attribute name="ID" type="xs:long" use="optional">
                          <xs:annotation>
                            <xs:documentation>the ID enable identifiying the fop at update time. In case a new fop is to be added by the agent, the ID should not be filled.</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="Type" type="att:AlphaNumericString_Length1To10">
                          <xs:annotation>
                            <xs:documentation>FOP type</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attributeGroup ref="ota:CurrencyAmountGroup" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ReasonCode" minOccurs="0">
                <xs:complexType>
                  <xs:attribute name="Code" type="ota:StringLength1to64" />
                </xs:complexType>
              </xs:element>
              <xs:element name="WaiverCode" minOccurs="0">
                <xs:complexType>
                  <xs:attribute name="Code" type="ota:StringLength1to64" />
                </xs:complexType>
              </xs:element>
              <xs:element name="RefundRemarks" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="RefundRemark" type="xs:string" maxOccurs="99" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ReferenceDetails" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="en">AIR: Refund references</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ReferenceDetail" maxOccurs="4">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Type" type="att:AlphaNumericString_Length1To3">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Type of data reference</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Value" type="att:AlphaNumericString_Length1To35">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Value of data reference</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="StructuredAddress" type="att:ContactAddressType" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>AIR: Used to convey any kind of structured address. For the time being, only billing address (AB) is supported.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="CurrencyOverride" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>For update use-cases, new currency should be filled in this structure</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attributeGroup ref="ota:CurrencyCodeGroup" />
                  <xs:attribute name="ConversionRate" type="att:AlphaNumericString_Length1To10">
                    <xs:annotation>
                      <xs:documentation>Currency conversion rate</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="AdditionalDataList" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Conveys different information carried as free-text</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="AdditionalData" type="att:AdditionalData" minOccurs="0" maxOccurs="99" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <!--Replaced incorrect type "xs:nonNegativeInteger"-->
            <xs:attribute name="ID" type="xs:long" use="required">
              <xs:annotation>
                <xs:documentation>Identifies ContractBundle concerned by the update</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="ota:OTA_PayloadStdAttributes" />
    </xs:complexType>
  </xs:element>
</xs:schema>
